@media all and (min-width:740px) and (min-device-width:740px),
(max-device-width:800px) and (min-width:740px) and (orientation:landscape) {}

@media all and (min-width:740px) and (min-device-width:740px),
(max-device-width:800px) and (min-width:740px) and (orientation:landscape) {
    img {
        max-width: 100%;
        height: auto;
    }
    body {
        background: #0555a4;
        border: 0;
        margin: 0;
        padding: 0;
    }
    #zone-menu-wrapper {
        background: #0555a4;
        padding-bottom: 10px;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 45px;
        top: 0;
        box-shadow: -4px 5px 10px black;
    }
    #zone-menu {
        position: relative;
        z-index: 200;
    }
    #breadcrumb {
        display: none;
    }
    #block-superfish-1 {
        display: block;
        font-size: 110%;
        margin-top: 15px;
        float: right;
    }
    #block-superfish-1 select {
        background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        width: 40%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-2 select {
        background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        width: 120%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-3 {
        font-size: 100%;
    }
    #block-superfish-3 .sf-sub-indicator {
        display: none;
    }
    #block-superfish-3 a {
        background: #0555a4;
        border: none;
    }
    #block-superfish-3 ul li {
        background: #0555a4;
    }
    #block-superfish-3 select {
        background: #0555a4;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        margin: 10px;
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-1 ul li {
        background: rgba(5, 85, 164, 0.8);
    }
    #block-superfish-1 ul a:hover {
        color: #fff;
        background: #c93221;
    }
    #block-superfish-1 .block-title {
        display: none;
    }
    #zone-branding-wrapper {
        width: 100%;
        margin-top: 50px;
        background: url(../images/small-version-facade.png) #2c3e50 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        background-position: center;
    }
    #zone-header-wrapper {
        width: 100%;
    }
    .flexslider {
        margin-bottom: -8px;
    }
    .flexslider .field-content p {
        width: 100%;
        padding: 10px;
        margin: -40px 0 0 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
    }
    .flexslider .field-content p a {
        color: #fff;
        text-decoration: none;
    }
    .flexslider .field-content p a a:hover {
        color: #fff;
    }
    .flexslider .flex-direction-nav li a {
        padding: 30px 0 30px 0;
    }
    .flexslider .flex-control-paging {
        display: none;
    }
    #section-content {
        padding: 5px 0px;
        background: #ecf0f1;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 90;
    }
    #region-content .views-field-term-node-tid {
        color: #c93221;
    }
    #region-content .views-field-term-node-tid a {
        font-weight: 1px;
        color: #c93221;
    }
    #region-content #block-views-mandaluyong-news-article-block .block-title,
    #region-content #block-views-mandaluyong-announcement-block .block-title,
    #region-content #block-views-pasig-news-article-block .block-title,
    #region-content #block-views-pasig-announcement-block .block-title,
    #region-content #block-views-pasay-announcement-block .block-title,
    #region-content #block-views-malabon-news-article-block .block-title,
    #region-content #block-views-malabon-announcements-block .block-title {
        color: #ecf0f1;
        background: #c93221;
        padding: 0 0 0 10px;
    }
    #region-content #block-views-mandaluyong-news-article-block .more-link a,
    #region-content #block-views-mandaluyong-announcement-block .more-link a,
    #region-content #block-views-pasig-news-article-block .more-link a,
    #region-content #block-views-pasig-announcement-block .more-link a,
    #region-content #block-views-pasay-announcement-block .more-link a,
    #region-content #block-views-malabon-news-article-block .more-link a,
    #region-content #block-views-malabon-announcements-block .more-link a {
        color: #ecf0f1;
        background: #c93221;
        padding: 5px;
    }
    #page-title {
        font-size: 24px;
        color: #671213;
        border-bottom: #3498db 1px solid;
    }
    .submitted {
        color: #34495e;
        font-size: 14px;
        font-style: italic;
    }
    .view-content .views-row {
        border-bottom: #CCC 2px solid;
        margin-bottom: 20px;
    }
    .view-content .views-row .node-title a {
        font-size: 22px;
        text-decoration: none;
    }
    #zone-footer-wrapper {
        background: #2c3e50;
        color: #ecf0f1;
        padding-top: 10px;
    }
    #zone-footer-wrapper .block-superfish-2 {
        margin-top: -90px;
        float: right;
    }
    #zone-footer-wrapper #block-superfish-2 ul {
        background: #2c3e50;
    }
    #zone-footer-wrapper #block-superfish-2 a {
        background: #2c3e50;
    }
    #zone-footer-wrapper #block-superfish-2 a:hover {
        color: #fff;
        background: #c93221;
    }
    #zone-footer-wrapper .block-superfish-2 .block-title {
        display: none;
    }
    #region-sidebar-first,
    #region-sidebar-second {
        background: #0555a4;
        margin-top: -6px;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
    }
    #region-sidebar-second .content p {
        color: #fff;
    }
    #region-sidebar-first a,
    #region-sidebar-second a {
        color: #fff;
        text-decoration: none;
    }
    #block-menu-menu-sports-menu,
    #block-menu-menu-alumni-sublinks,
    #block-menu-menu-students-sublinks,
    #block-menu-menu-colleges-sublinks,
    #block-menu-menu-administration-sublinks,
    #block-menu-menu-academic-policies-sublinks,
    #block-menu-menu-programs-sublink,
    #block-superfish-3,
    #block-views-pasay-news-article-block,
    #block-views-pasig-news-article-block,
    #block-views-mandaluyong-news-article-block,
    #block-views-pasay-hotlinks-block,
    #block-views-pasig-hotlinks-block,
    #block-views-mandaluyong-hotlinks-block,
    #block-views-malabon-hotlinks-block,
    #block-block-6,
    #block-block-7,
    #block-block-8,
    #block-block-9,
    #block-views-about-us-sublinks-block,
    #block-menu-menu-hrd-sublinks,
    #block-menu-menu-pasig-sublinks,
    #block-menu-menu-plaridel-sublinks,
    #block-menu-menu-research-sublinks,
    #block-menu-menu-pasay-sublinks,
    #block-menu-menu-malabon-sublinks,
    #block-block-11 {
        margin: 5px 10px 40px 10px;
    }
    #block-menu-menu-sports-menu .block-title,
    #block-menu-menu-alumni-sublinks .block-title,
    #block-menu-menu-students-sublinks .block-title,
    #block-menu-menu-colleges-sublinks .block-title,
    #block-menu-menu-administration-sublinks .block-title,
    #block-menu-menu-academic-policies-sublinks .block-title,
    #block-menu-menu-programs-sublink .block-title,
    #block-superfish-3 .block-title,
    #block-views-pasay-news-article-block .block-title,
    #block-views-pasay-hotlinks-block .block-title,
    #block-views-pasig-hotlinks-block .block-title,
    #block-views-mandaluyong-hotlinks-block .block-title,
    #block-views-malabon-hotlinks-block .block-title,
    #block-block-6 .block-title,
    #block-block-7 .block-title,
    #block-block-8 .block-title,
    #block-block-9 .block-title,
    #block-views-about-us-sublinks-block .block-title,
    #block-menu-menu-hrd-sublinks .block-title,
    #block-menu-menu-pasig-sublinks .block-title,
    #block-menu-menu-plaridel-sublinks .block-title,
    #block-menu-menu-research-sublinks .block-title,
    #block-menu-menu-pasay-sublinks .block-title,
    #block-menu-menu-malabon-sublinks .block-title,
    #block-block-11 .block-title {
        color: #ecf0f1;
        padding: 5px;
        background: #c93221;
        border-bottom: 1px solid #ecf0f1;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 10px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #block-views-about-us-sublinks-block .view-content .views-row {
        border-bottom: none;
    }
    #block-menu-menu-sports-menu ul li,
    #block-menu-menu-alumni-sublinks ul li,
    #block-menu-menu-students-sublinks ul li,
    #block-menu-menu-colleges-sublinks ul li,
    #block-menu-menu-administration-sublinks ul li,
    #block-menu-menu-academic-policies-sublinks ul li,
    #block-menu-menu-programs-sublink ul li,
    #block-superfish-3 ul li,
    #block-menu-menu-research-sublinks ul li,
    #block-menu-menu-hrd-sublinks ul li,
    #block-menu-menu-pasig-sublinks ul li,
    #block-menu-menu-plaridel-sublinks ul li,
    #block-menu-menu-pasay-sublinks ul li,
    #block-views-pasay-news-article-block div,
    #block-menu-menu-malabon-sublinks ul li,
    #block-block-11 p {
        padding: 7px;
        text-decoration: none;
        list-style: none;
    }
    #block-menu-menu-sports-menu ul li a,
    #block-menu-menu-alumni-sublinks ul li a,
    #block-menu-menu-students-sublinks ul li a,
    #block-menu-menu-colleges-sublinks ul li a,
    #block-menu-menu-administration-sublinks ul li a,
    #block-menu-menu-academic-policies-sublinks ul li a,
    #block-menu-menu-programs-sublink ul li a,
    #block-superfish-3 ul li a,
    #block-menu-menu-research-sublinks ul li a,
    #block-views-pasay-news-article-block div a,
    #block-views-about-us-sublinks-block ul li a,
    #block-menu-menu-hrd-sublinks ul li a,
    #block-menu-menu-pasig-sublinks ul li a,
    #block-menu-menu-plaridel-sublinks ul li a,
    #block-menu-menu-pasay-sublinks ul li a,
    #block-menu-menu-malabon-sublinks ul li a,
    #block-block-11 p a {
        padding: 5px;
    }
    #block-menu-menu-sports-menu li a:hover,
    #block-menu-menu-alumni-sublinks li a:hover,
    #block-menu-menu-students-sublinks li a:hover,
    #block-menu-menu-colleges-sublinks li a:hover,
    #block-menu-menu-administration-sublinks li a:hover,
    #block-menu-menu-academic-policies-sublinks li a:hover,
    #block-menu-menu-programs-sublink li a:hover,
    #block-superfish-3 li a:hover,
    #block-menu-menu-research-sublinks li a:hover,
    #block-views-pasay-news-article-block div a:hover,
    #block-views-about-us-sublinks-block div a:hover,
    #block-menu-menu-hrd-sublinks a:hover,
    #block-menu-menu-pasig-sublinks a:hover,
    #block-menu-menu-plaridel-sublinks a:hover,
    #block-menu-menu-pasay-sublinks a:hover,
    #block-menu-menu-malabon-sublinks a:hover,
    #block-block-11 p a:hover {
        text-decoration: underline;
    }
    #block-views-notifications-block-1 {
        background: url(../images/notifcation_bg.png) no-repeat top left;
        position: absolute;
        padding: 19px;
        cursor: pointer;
        z-index: 0;
        margin: 15px 0px 0px 0px;
    }
    #block-views-notifications-block-1 .block-title {
        position: absolute;
        width: 150px;
        display: none;
        color: #ecf0f1;
        background: url(../images/arrowup_bg.png) no-repeat;
        padding: 15px 20px 0 20px;
        margin: 15px 0px 0px -20px;
    }
    #block-views-notifications-block-1 .views-field-title .views-label-title {
        position: absolute;
        display: none;
        font-size: 18px;
        font-style: bold;
        color: #ecf0f1;
        background: #c93221;
        width: 96.5%;
        padding: 5px;
        margin: -35px 0px 0px -10px;
    }
    #block-views-notifications-block-1 .content {
        position: absolute;
        width: 250px;
        display: none;
        text-align: left;
        background: #ecf0f1;
        margin: 21px 0px 0px -20px;
        color: #34495e;
        padding: 15px 10px 10px 10px;
        border-bottom: thin #000;
        box-shadow: -2px 3px 5px black;
    }
    #block-views-notifications-block-1 .views-field-term-node-tid {
        color: #c93221;
    }
    #block-views-notifications-block-1 .views-field-term-node-tid a {
        font-weight: 1px;
        color: #c93221;
    }
    #block-views-notifications-block-1 a {
        color: #34495e;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition: all 0.5s ease-in-out;
    }
    #block-views-notifications-block-1 a:hover {
        color: #3498db;
        text-decoration: underline;
    }
    #block-views-hot-links-block {
        background: url(../images/hot_links.png) no-repeat;
        position: absolute;
        padding: 32px 33px 0px 0px;
        cursor: pointer;
        z-index: 0;
        margin: 15px 0 0 40px;
    }
    #block-views-hot-links-block .block-title {
        position: absolute;
        display: none;
        z-index: -2;
        color: #ecf0f1;
        background: url(../images/arrowup_bg.png) no-repeat;
        padding: 15px 40px 0 40px;
    }
    #block-views-hot-links-block .views-field-title .views-label-title {
        position: absolute;
        display: none;
        font-size: 18px;
        font-style: bold;
        color: #ecf0f1;
        background: #c93221;
        width: 96.5%;
        padding: 5px;
        margin: -49px 0 0 -10px;
    }
    #block-views-hot-links-block .content {
        position: absolute;
        width: 250px;
        display: none;
        text-align: left;
        background: rgba(236, 240, 241, 0.8);
        color: #34495e;
        padding: 15px 10px 10px 10px;
        margin: 12px 0px 0px 0px;
        box-shadow: -2px 3px 5px black;
    }
    #block-views-hot-links-block .view-content {
        padding: 30px 0px 0px 0px;
    }
    #block-views-hot-links-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-hot-links-block .views-field-title span {
        display: none;
    }
    #block-views-home-btn-block {
        margin: 4px 0 0 80px;
        position: absolute;
        z-index: 0;
    }
    #block-views-home-btn-block .view-content .views-row {
        border-bottom: none;
    }
    #block-search-form {
        position: absolute;
        display: block;
        cursor: pointer;
        margin: 15px 0 0 120px;
    }
    #block-search-form #edit-submit {
        height: 33px;
        width: 33px;
        text-indent: -9999px;
        background: url(../images/search-btn.png) no-repeat;
        border: 0;
    }
    #block-search-form .block-title {
        display: none;
    }
    #block-search-form .content {
        padding: 2px;
    }
    #webform-client-form-76 div label {
        font-size: 16px;
    }
    #webform-client-form-76 div input,
    #webform-client-form-76 div select {
        height: 30px;
        width: 50%;
        border: 1px #3498db solid;
        border-bottom-left-radius: 5px 5px;
        -moz-border-radius-bottomleft: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        -moz-border-radius-bottomright: 5px 5px;
        border-top-left-radius: 5px 5px;
        -moz-border-radius-topleft: 5px 5px;
        border-top-right-radius: 5px 5px;
        -moz-border-radius-topright: 5px 5px;
    }
    #webform-client-form-76 div textarea {
        height: 100px;
        width: 50%;
        border: 1px #999999 solid;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 15px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 15px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #webform-client-form-76 div .grippie {
        display: none;
    }
    #webform-client-form-76 #edit-submit {
        background: #0555a4;
        width: none;
        color: #ecf0f1;
        text-shadow: none;
    }
    #block-views-57bac0dff7fc78ac8f16d460a1601e2f li {
        border: none;
    }
    #block-views-57bac0dff7fc78ac8f16d460a1601e2f .views-field-title {
        color: #fff;
        font-size: 100%;
        cursor: pointer;
        width: 80%;
        padding-left: 20px;
        background: #0555a4;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 15px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 15px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #node-webform-76 .field-items .main-contact {
        background: #c93221;
        margin: -20px 20px;
        width: 50%;
    }
    #node-webform-76 .field-items .pasay-contact,
    #node-webform-76 .field-items .law-contact,
    #node-webform-76 .field-items .pasig-contact,
    #node-webform-76 .field-items .malabon-contact,
    #node-webform-76 .field-items .mandaluyong-contact {
        display: none;
        background: #c93221;
        width: 50%;
        margin: -20px 20px;
    }
    #node-webform-76 .field-items .main-contact ul,
    #node-webform-76 .field-items .pasay-contact ul,
    #node-webform-76 .field-items .law-contact ul,
    #node-webform-76 .field-items .pasig-contact ul,
    #node-webform-76 .field-items .malabon-contact ul,
    #node-webform-76 .field-items .mandaluyong-contact ul {
        list-style: none;
    }
    #block-block-10 {
        padding-bottom: 50px;
    }
    #block-block-10 .block-title {
        background: url(../images/campuses.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 50px 30px 30px;
    }
    #block-block-10 .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-block-10 .view-content .views-row {
        margin-top: 15px;
        border-bottom: none;
    }
    #block-block-10 a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-block-10 a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-menu-menu-colleges-sublinks .menu ul {
        display: none;
    }
    #block-menu-menu-colleges-sublinks .menu li:focus > ul {
        display: block;
    }
    .responsive-menus {
        display: none;
    }
    #block-superfish-1 {
        display: block;
        font-size: 50%;
        margin-top: 30px;
        float: right;
    }
    #block-superfish-3 {
        font-size: 80%;
    }
    #block-superfish-1 ul li ul {
        margin-left: -10px;
    }
    #zone-footer-wrapper .block-superfish-2 {
        margin: 0;
    }
    #zone-branding .logo-img {
        padding: 20px 0px;
        margin-left: -120px;
    }
    #block-views-home-btn-block {
        margin: 20px 0 0 80px;
    }
    #block-views-sport-events-block .block-title {
        background: url(../images/sports_bg_hov.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 65px 5px 5px 65px;
    }
    #block-views-sport-events-block .content {
        opacity: 1;
        color: #34495e;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        padding: 5px;
    }
    #block-views-sport-events-block .view-content .views-row {
        border-bottom: none;
        margin-top: 15px;
    }
    #block-views-sport-events-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-sport-events-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-views-news-and-articles-block .block-title {
        background: url(../images/article_bg.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 65px 5px 5px 65px;
    }
    #block-views-news-and-articles-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-views-news-and-articles-block .view-content .views-row {
        border-bottom: none;
        margin-top: 15px;
    }
    #block-views-news-and-articles-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-news-and-articles-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-views-affiliates-block {
        padding-bottom: 0px;
    }
    #block-views-affiliates-block .block-title {
        background: url(../images/campuses.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 65px 5px 5px 65px;
    }
    #block-views-affiliates-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-views-affiliates-block .view-content .views-row {
        margin-top: 15px;
        border-bottom: none;
    }
    #block-views-affiliates-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-affiliates-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
}

@media all and (min-width:740px) and (min-device-width:740px),
(max-device-width:800px) and (min-width:740px) and (orientation:landscape) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        display: inline;
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    .push-1,
    .pull-1,
    .push-2,
    .pull-2,
    .push-3,
    .pull-3,
    .push-4,
    .pull-4,
    .push-5,
    .pull-5,
    .push-6,
    .pull-6,
    .push-7,
    .pull-7,
    .push-8,
    .pull-8,
    .push-9,
    .pull-9,
    .push-10,
    .pull-10,
    .push-11,
    .pull-11,
    .push-12,
    .pull-12 {
        position: relative;
    }
    .alpha {
        margin-left: 0;
    }
    .omega {
        margin-right: 0;
    }
    body {
        min-width: 720px;
    }
    .container-12 {
        margin-left: auto;
        margin-right: auto;
        width: 720px;
    }
    .container-12 .grid-1 {
        width: 40px;
    }
    .container-12 .grid-2 {
        width: 100px;
    }
    .container-12 .grid-3 {
        width: 160px;
    }
    .container-12 .grid-4 {
        width: 220px;
    }
    .container-12 .grid-5 {
        width: 280px;
    }
    .container-12 .grid-6 {
        width: 340px;
    }
    .container-12 .grid-7 {
        width: 400px;
    }
    .container-12 .grid-8 {
        width: 460px;
    }
    .container-12 .grid-9 {
        width: 520px;
    }
    .container-12 .grid-10 {
        width: 580px;
    }
    .container-12 .grid-11 {
        width: 640px;
    }
    .container-12 .grid-12 {
        width: 700px;
    }
    .container-12 .prefix-1 {
        padding-left: 60px;
    }
    .container-12 .prefix-2 {
        padding-left: 120px;
    }
    .container-12 .prefix-3 {
        padding-left: 180px;
    }
    .container-12 .prefix-4 {
        padding-left: 240px;
    }
    .container-12 .prefix-5 {
        padding-left: 300px;
    }
    .container-12 .prefix-6 {
        padding-left: 360px;
    }
    .container-12 .prefix-7 {
        padding-left: 420px;
    }
    .container-12 .prefix-8 {
        padding-left: 480px;
    }
    .container-12 .prefix-9 {
        padding-left: 540px;
    }
    .container-12 .prefix-10 {
        padding-left: 600px;
    }
    .container-12 .prefix-11 {
        padding-left: 660px;
    }
    .container-12 .suffix-1 {
        padding-right: 60px;
    }
    .container-12 .suffix-2 {
        padding-right: 120px;
    }
    .container-12 .suffix-3 {
        padding-right: 180px;
    }
    .container-12 .suffix-4 {
        padding-right: 240px;
    }
    .container-12 .suffix-5 {
        padding-right: 300px;
    }
    .container-12 .suffix-6 {
        padding-right: 360px;
    }
    .container-12 .suffix-7 {
        padding-right: 420px;
    }
    .container-12 .suffix-8 {
        padding-right: 480px;
    }
    .container-12 .suffix-9 {
        padding-right: 540px;
    }
    .container-12 .suffix-10 {
        padding-right: 600px;
    }
    .container-12 .suffix-11 {
        padding-right: 660px;
    }
    .container-12 .push-1 {
        left: 60px;
    }
    .container-12 .push-2 {
        left: 120px;
    }
    .container-12 .push-3 {
        left: 180px;
    }
    .container-12 .push-4 {
        left: 240px;
    }
    .container-12 .push-5 {
        left: 300px;
    }
    .container-12 .push-6 {
        left: 360px;
    }
    .container-12 .push-7 {
        left: 420px;
    }
    .container-12 .push-8 {
        left: 480px;
    }
    .container-12 .push-9 {
        left: 540px;
    }
    .container-12 .push-10 {
        left: 600px;
    }
    .container-12 .push-11 {
        left: 660px;
    }
    .container-12 .pull-1 {
        left: -60px;
    }
    .container-12 .pull-2 {
        left: -120px;
    }
    .container-12 .pull-3 {
        left: -180px;
    }
    .container-12 .pull-4 {
        left: -240px;
    }
    .container-12 .pull-5 {
        left: -300px;
    }
    .container-12 .pull-6 {
        left: -360px;
    }
    .container-12 .pull-7 {
        left: -420px;
    }
    .container-12 .pull-8 {
        left: -480px;
    }
    .container-12 .pull-9 {
        left: -540px;
    }
    .container-12 .pull-10 {
        left: -600px;
    }
    .container-12 .pull-11 {
        left: -660px;
    }
}

@media all and (min-width:980px) and (min-device-width:980px),
all and (max-device-width:1024px) and (min-width:1024px) and (orientation:landscape) {}

@media all and (min-width:980px) and (min-device-width:980px),
all and (max-device-width:1024px) and (min-width:1024px) and (orientation:landscape) {
    img {
        max-width: 100%;
        height: auto;
    }
    body {
        background: #0555a4;
        border: 0;
        margin: 0;
        padding: 0;
    }
    #zone-menu-wrapper {
        background: #0555a4;
        padding-bottom: 10px;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 45px;
        top: 0;
        box-shadow: -4px 5px 10px black;
    }
    #zone-menu {
        position: relative;
        z-index: 200;
    }
    #breadcrumb {
        display: none;
    }
    #block-superfish-1 {
        display: block;
        font-size: 110%;
        margin-top: 15px;
        float: right;
    }
    #block-superfish-1 select {
        background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        width: 40%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-2 select {
        background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        width: 120%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-3 {
        font-size: 100%;
    }
    #block-superfish-3 .sf-sub-indicator {
        display: none;
    }
    #block-superfish-3 a {
        background: #0555a4;
        border: none;
    }
    #block-superfish-3 ul li {
        background: #0555a4;
    }
    #block-superfish-3 select {
        background: #0555a4;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        margin: 10px;
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-1 ul li {
        background: rgba(5, 85, 164, 0.8);
    }
    #block-superfish-1 ul a:hover {
        color: #fff;
        background: #c93221;
    }
    #block-superfish-1 .block-title {
        display: none;
    }
    #zone-branding-wrapper {
        width: 100%;
        margin-top: 50px;
        background: url(../images/small-version-facade.png) #2c3e50 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        background-position: center;
    }
    #zone-header-wrapper {
        width: 100%;
    }
    .flexslider {
        margin-bottom: -8px;
    }
    .flexslider .field-content p {
        width: 100%;
        padding: 10px;
        margin: -40px 0 0 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
    }
    .flexslider .field-content p a {
        color: #fff;
        text-decoration: none;
    }
    .flexslider .field-content p a a:hover {
        color: #fff;
    }
    .flexslider .flex-direction-nav li a {
        padding: 30px 0 30px 0;
    }
    .flexslider .flex-control-paging {
        display: none;
    }
    #section-content {
        padding: 5px 0px;
        background: #ecf0f1;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 90;
    }
    #region-content .views-field-term-node-tid {
        color: #c93221;
    }
    #region-content .views-field-term-node-tid a {
        font-weight: 1px;
        color: #c93221;
    }
    #region-content #block-views-mandaluyong-news-article-block .block-title,
    #region-content #block-views-mandaluyong-announcement-block .block-title,
    #region-content #block-views-pasig-news-article-block .block-title,
    #region-content #block-views-pasig-announcement-block .block-title,
    #region-content #block-views-pasay-announcement-block .block-title,
    #region-content #block-views-malabon-news-article-block .block-title,
    #region-content #block-views-malabon-announcements-block .block-title {
        color: #ecf0f1;
        background: #c93221;
        padding: 0 0 0 10px;
    }
    #region-content #block-views-mandaluyong-news-article-block .more-link a,
    #region-content #block-views-mandaluyong-announcement-block .more-link a,
    #region-content #block-views-pasig-news-article-block .more-link a,
    #region-content #block-views-pasig-announcement-block .more-link a,
    #region-content #block-views-pasay-announcement-block .more-link a,
    #region-content #block-views-malabon-news-article-block .more-link a,
    #region-content #block-views-malabon-announcements-block .more-link a {
        color: #ecf0f1;
        background: #c93221;
        padding: 5px;
    }
    #page-title {
        font-size: 24px;
        color: #671213;
        border-bottom: #3498db 1px solid;
    }
    .submitted {
        color: #34495e;
        font-size: 14px;
        font-style: italic;
    }
    .view-content .views-row {
        border-bottom: #CCC 2px solid;
        margin-bottom: 20px;
    }
    .view-content .views-row .node-title a {
        font-size: 22px;
        text-decoration: none;
    }
    #zone-footer-wrapper {
        background: #2c3e50;
        color: #ecf0f1;
        padding-top: 10px;
    }
    #zone-footer-wrapper .block-superfish-2 {
        margin-top: -90px;
        float: right;
    }
    #zone-footer-wrapper #block-superfish-2 ul {
        background: #2c3e50;
    }
    #zone-footer-wrapper #block-superfish-2 a {
        background: #2c3e50;
    }
    #zone-footer-wrapper #block-superfish-2 a:hover {
        color: #fff;
        background: #c93221;
    }
    #zone-footer-wrapper .block-superfish-2 .block-title {
        display: none;
    }
    #region-sidebar-first,
    #region-sidebar-second {
        background: #0555a4;
        margin-top: -6px;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
    }
    #region-sidebar-second .content p {
        color: #fff;
    }
    #region-sidebar-first a,
    #region-sidebar-second a {
        color: #fff;
        text-decoration: none;
    }
    #block-menu-menu-sports-menu,
    #block-menu-menu-alumni-sublinks,
    #block-menu-menu-students-sublinks,
    #block-menu-menu-colleges-sublinks,
    #block-menu-menu-administration-sublinks,
    #block-menu-menu-academic-policies-sublinks,
    #block-menu-menu-programs-sublink,
    #block-superfish-3,
    #block-views-pasay-news-article-block,
    #block-views-pasig-news-article-block,
    #block-views-mandaluyong-news-article-block,
    #block-views-pasay-hotlinks-block,
    #block-views-pasig-hotlinks-block,
    #block-views-mandaluyong-hotlinks-block,
    #block-views-malabon-hotlinks-block,
    #block-block-6,
    #block-block-7,
    #block-block-8,
    #block-block-9,
    #block-views-about-us-sublinks-block,
    #block-menu-menu-hrd-sublinks,
    #block-menu-menu-pasig-sublinks,
    #block-menu-menu-plaridel-sublinks,
    #block-menu-menu-research-sublinks,
    #block-menu-menu-pasay-sublinks,
    #block-menu-menu-malabon-sublinks,
    #block-block-11 {
        margin: 5px 10px 40px 10px;
    }
    #block-menu-menu-sports-menu .block-title,
    #block-menu-menu-alumni-sublinks .block-title,
    #block-menu-menu-students-sublinks .block-title,
    #block-menu-menu-colleges-sublinks .block-title,
    #block-menu-menu-administration-sublinks .block-title,
    #block-menu-menu-academic-policies-sublinks .block-title,
    #block-menu-menu-programs-sublink .block-title,
    #block-superfish-3 .block-title,
    #block-views-pasay-news-article-block .block-title,
    #block-views-pasay-hotlinks-block .block-title,
    #block-views-pasig-hotlinks-block .block-title,
    #block-views-mandaluyong-hotlinks-block .block-title,
    #block-views-malabon-hotlinks-block .block-title,
    #block-block-6 .block-title,
    #block-block-7 .block-title,
    #block-block-8 .block-title,
    #block-block-9 .block-title,
    #block-views-about-us-sublinks-block .block-title,
    #block-menu-menu-hrd-sublinks .block-title,
    #block-menu-menu-pasig-sublinks .block-title,
    #block-menu-menu-plaridel-sublinks .block-title,
    #block-menu-menu-research-sublinks .block-title,
    #block-menu-menu-pasay-sublinks .block-title,
    #block-menu-menu-malabon-sublinks .block-title,
    #block-block-11 .block-title {
        color: #ecf0f1;
        padding: 5px;
        background: #c93221;
        border-bottom: 1px solid #ecf0f1;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 10px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #block-views-about-us-sublinks-block .view-content .views-row {
        border-bottom: none;
    }
    #block-menu-menu-sports-menu ul li,
    #block-menu-menu-alumni-sublinks ul li,
    #block-menu-menu-students-sublinks ul li,
    #block-menu-menu-colleges-sublinks ul li,
    #block-menu-menu-administration-sublinks ul li,
    #block-menu-menu-academic-policies-sublinks ul li,
    #block-menu-menu-programs-sublink ul li,
    #block-superfish-3 ul li,
    #block-menu-menu-research-sublinks ul li,
    #block-menu-menu-hrd-sublinks ul li,
    #block-menu-menu-pasig-sublinks ul li,
    #block-menu-menu-plaridel-sublinks ul li,
    #block-menu-menu-pasay-sublinks ul li,
    #block-views-pasay-news-article-block div,
    #block-menu-menu-malabon-sublinks ul li,
    #block-block-11 p {
        padding: 7px;
        text-decoration: none;
        list-style: none;
    }
    #block-menu-menu-sports-menu ul li a,
    #block-menu-menu-alumni-sublinks ul li a,
    #block-menu-menu-students-sublinks ul li a,
    #block-menu-menu-colleges-sublinks ul li a,
    #block-menu-menu-administration-sublinks ul li a,
    #block-menu-menu-academic-policies-sublinks ul li a,
    #block-menu-menu-programs-sublink ul li a,
    #block-superfish-3 ul li a,
    #block-menu-menu-research-sublinks ul li a,
    #block-views-pasay-news-article-block div a,
    #block-views-about-us-sublinks-block ul li a,
    #block-menu-menu-hrd-sublinks ul li a,
    #block-menu-menu-pasig-sublinks ul li a,
    #block-menu-menu-plaridel-sublinks ul li a,
    #block-menu-menu-pasay-sublinks ul li a,
    #block-menu-menu-malabon-sublinks ul li a,
    #block-block-11 p a {
        padding: 5px;
    }
    #block-menu-menu-sports-menu li a:hover,
    #block-menu-menu-alumni-sublinks li a:hover,
    #block-menu-menu-students-sublinks li a:hover,
    #block-menu-menu-colleges-sublinks li a:hover,
    #block-menu-menu-administration-sublinks li a:hover,
    #block-menu-menu-academic-policies-sublinks li a:hover,
    #block-menu-menu-programs-sublink li a:hover,
    #block-superfish-3 li a:hover,
    #block-menu-menu-research-sublinks li a:hover,
    #block-views-pasay-news-article-block div a:hover,
    #block-views-about-us-sublinks-block div a:hover,
    #block-menu-menu-hrd-sublinks a:hover,
    #block-menu-menu-pasig-sublinks a:hover,
    #block-menu-menu-plaridel-sublinks a:hover,
    #block-menu-menu-pasay-sublinks a:hover,
    #block-menu-menu-malabon-sublinks a:hover,
    #block-block-11 p a:hover {
        text-decoration: underline;
    }
    #block-views-notifications-block-1 {
        background: url(../images/notifcation_bg.png) no-repeat top left;
        position: absolute;
        padding: 19px;
        cursor: pointer;
        z-index: 0;
        margin: 15px 0px 0px 0px;
    }
    #block-views-notifications-block-1 .block-title {
        position: absolute;
        width: 150px;
        display: none;
        color: #ecf0f1;
        background: url(../images/arrowup_bg.png) no-repeat;
        padding: 15px 20px 0 20px;
        margin: 15px 0px 0px -20px;
    }
    #block-views-notifications-block-1 .views-field-title .views-label-title {
        position: absolute;
        display: none;
        font-size: 18px;
        font-style: bold;
        color: #ecf0f1;
        background: #c93221;
        width: 96.5%;
        padding: 5px;
        margin: -35px 0px 0px -10px;
    }
    #block-views-notifications-block-1 .content {
        position: absolute;
        width: 250px;
        display: none;
        text-align: left;
        background: #ecf0f1;
        margin: 21px 0px 0px -20px;
        color: #34495e;
        padding: 15px 10px 10px 10px;
        border-bottom: thin #000;
        box-shadow: -2px 3px 5px black;
    }
    #block-views-notifications-block-1 .views-field-term-node-tid {
        color: #c93221;
    }
    #block-views-notifications-block-1 .views-field-term-node-tid a {
        font-weight: 1px;
        color: #c93221;
    }
    #block-views-notifications-block-1 a {
        color: #34495e;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition: all 0.5s ease-in-out;
    }
    #block-views-notifications-block-1 a:hover {
        color: #3498db;
        text-decoration: underline;
    }
    #block-views-hot-links-block {
        background: url(../images/hot_links.png) no-repeat;
        position: absolute;
        padding: 32px 33px 0px 0px;
        cursor: pointer;
        z-index: 0;
        margin: 15px 0 0 40px;
    }
    #block-views-hot-links-block .block-title {
        position: absolute;
        display: none;
        z-index: -2;
        color: #ecf0f1;
        background: url(../images/arrowup_bg.png) no-repeat;
        padding: 15px 40px 0 40px;
    }
    #block-views-hot-links-block .views-field-title .views-label-title {
        position: absolute;
        display: none;
        font-size: 18px;
        font-style: bold;
        color: #ecf0f1;
        background: #c93221;
        width: 96.5%;
        padding: 5px;
        margin: -49px 0 0 -10px;
    }
    #block-views-hot-links-block .content {
        position: absolute;
        width: 250px;
        display: none;
        text-align: left;
        background: rgba(236, 240, 241, 0.8);
        color: #34495e;
        padding: 15px 10px 10px 10px;
        margin: 12px 0px 0px 0px;
        box-shadow: -2px 3px 5px black;
    }
    #block-views-hot-links-block .view-content {
        padding: 30px 0px 0px 0px;
    }
    #block-views-hot-links-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-hot-links-block .views-field-title span {
        display: none;
    }
    #block-views-home-btn-block {
        margin: 4px 0 0 80px;
        position: absolute;
        z-index: 0;
    }
    #block-views-home-btn-block .view-content .views-row {
        border-bottom: none;
    }
    #block-search-form {
        position: absolute;
        display: block;
        cursor: pointer;
        margin: 15px 0 0 120px;
    }
    #block-search-form #edit-submit {
        height: 33px;
        width: 33px;
        text-indent: -9999px;
        background: url(../images/search-btn.png) no-repeat;
        border: 0;
    }
    #block-search-form .block-title {
        display: none;
    }
    #block-search-form .content {
        padding: 2px;
    }
    #webform-client-form-76 div label {
        font-size: 16px;
    }
    #webform-client-form-76 div input,
    #webform-client-form-76 div select {
        height: 30px;
        width: 50%;
        border: 1px #3498db solid;
        border-bottom-left-radius: 5px 5px;
        -moz-border-radius-bottomleft: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        -moz-border-radius-bottomright: 5px 5px;
        border-top-left-radius: 5px 5px;
        -moz-border-radius-topleft: 5px 5px;
        border-top-right-radius: 5px 5px;
        -moz-border-radius-topright: 5px 5px;
    }
    #webform-client-form-76 div textarea {
        height: 100px;
        width: 50%;
        border: 1px #999999 solid;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 15px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 15px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #webform-client-form-76 div .grippie {
        display: none;
    }
    #webform-client-form-76 #edit-submit {
        background: #0555a4;
        width: none;
        color: #ecf0f1;
        text-shadow: none;
    }
    #block-views-57bac0dff7fc78ac8f16d460a1601e2f li {
        border: none;
    }
    #block-views-57bac0dff7fc78ac8f16d460a1601e2f .views-field-title {
        color: #fff;
        font-size: 100%;
        cursor: pointer;
        width: 80%;
        padding-left: 20px;
        background: #0555a4;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 15px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 15px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #node-webform-76 .field-items .main-contact {
        background: #c93221;
        margin: -20px 20px;
        width: 50%;
    }
    #node-webform-76 .field-items .pasay-contact,
    #node-webform-76 .field-items .law-contact,
    #node-webform-76 .field-items .pasig-contact,
    #node-webform-76 .field-items .malabon-contact,
    #node-webform-76 .field-items .mandaluyong-contact {
        display: none;
        background: #c93221;
        width: 50%;
        margin: -20px 20px;
    }
    #node-webform-76 .field-items .main-contact ul,
    #node-webform-76 .field-items .pasay-contact ul,
    #node-webform-76 .field-items .law-contact ul,
    #node-webform-76 .field-items .pasig-contact ul,
    #node-webform-76 .field-items .malabon-contact ul,
    #node-webform-76 .field-items .mandaluyong-contact ul {
        list-style: none;
    }
    #block-block-10 {
        padding-bottom: 50px;
    }
    #block-block-10 .block-title {
        background: url(../images/campuses.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 50px 30px 30px;
    }
    #block-block-10 .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-block-10 .view-content .views-row {
        margin-top: 15px;
        border-bottom: none;
    }
    #block-block-10 a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-block-10 a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-menu-menu-colleges-sublinks .menu ul {
        display: none;
    }
    #block-menu-menu-colleges-sublinks .menu li:focus > ul {
        display: block;
    }
    #block-superfish-1 {
        display: block;
        font-size: 90%;
        margin-top: 20px;
        float: right;
    }
    #block-superfish-1 ul li ul {
        margin-left: -10px;
    }
    #zone-branding .logo-img {
        padding: 20px 0px;
        margin-left: -60px;
    }
    #zone-footer-wrapper .block-superfish-2 {
        margin: 0;
    }
    #block-views-home-btn-block {
        margin: 20px 0 0 80px;
    }
    #block-views-sport-events-block .block-title {
        background: url(../images/sports_bg_hov.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 10px 30px 60px;
    }
    #block-views-sport-events-block .content {
        opacity: 1;
        color: #34495e;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        padding: 5px;
    }
    #block-views-sport-events-block .view-content .views-row {
        border-bottom: none;
        margin-top: 15px;
    }
    #block-views-sport-events-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-sport-events-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-views-news-and-articles-block .block-title {
        background: url(../images/article_bg.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 10px 30px 60px;
    }
    #block-views-news-and-articles-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-views-news-and-articles-block .view-content .views-row {
        margin-top: 15px;
        border-bottom: none;
    }
    #block-views-news-and-articles-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-news-and-articles-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-views-affiliates-block #views-field views-field-created {
        display: none;
    }
    #block-views-affiliates-block {
        padding-bottom: 0px;
    }
    #block-views-affiliates-block .block-title {
        background: url(../images/campuses.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 10px 30px 60px;
    }
    #block-views-affiliates-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-views-affiliates-block .view-content .views-row {
        margin-top: 15px;
        border-bottom: none;
    }
    #block-views-news-and-articles-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-affiliates-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-affiliates-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
}

@media all and (min-width:980px) and (min-device-width:980px),
all and (max-device-width:1024px) and (min-width:1024px) and (orientation:landscape) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        display: inline;
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    .push-1,
    .pull-1,
    .push-2,
    .pull-2,
    .push-3,
    .pull-3,
    .push-4,
    .pull-4,
    .push-5,
    .pull-5,
    .push-6,
    .pull-6,
    .push-7,
    .pull-7,
    .push-8,
    .pull-8,
    .push-9,
    .pull-9,
    .push-10,
    .pull-10,
    .push-11,
    .pull-11,
    .push-12,
    .pull-12 {
        position: relative;
    }
    .alpha {
        margin-left: 0;
    }
    .omega {
        margin-right: 0;
    }
    body {
        min-width: 960px;
    }
    .container-12 {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
    }
    .container-12 .grid-1 {
        width: 60px;
    }
    .container-12 .grid-2 {
        width: 140px;
    }
    .container-12 .grid-3 {
        width: 220px;
    }
    .container-12 .grid-4 {
        width: 300px;
    }
    .container-12 .grid-5 {
        width: 380px;
    }
    .container-12 .grid-6 {
        width: 460px;
    }
    .container-12 .grid-7 {
        width: 540px;
    }
    .container-12 .grid-8 {
        width: 620px;
    }
    .container-12 .grid-9 {
        width: 700px;
    }
    .container-12 .grid-10 {
        width: 780px;
    }
    .container-12 .grid-11 {
        width: 860px;
    }
    .container-12 .grid-12 {
        width: 940px;
    }
    .container-12 .prefix-1 {
        padding-left: 80px;
    }
    .container-12 .prefix-2 {
        padding-left: 160px;
    }
    .container-12 .prefix-3 {
        padding-left: 240px;
    }
    .container-12 .prefix-4 {
        padding-left: 320px;
    }
    .container-12 .prefix-5 {
        padding-left: 400px;
    }
    .container-12 .prefix-6 {
        padding-left: 480px;
    }
    .container-12 .prefix-7 {
        padding-left: 560px;
    }
    .container-12 .prefix-8 {
        padding-left: 640px;
    }
    .container-12 .prefix-9 {
        padding-left: 720px;
    }
    .container-12 .prefix-10 {
        padding-left: 800px;
    }
    .container-12 .prefix-11 {
        padding-left: 880px;
    }
    .container-12 .suffix-1 {
        padding-right: 80px;
    }
    .container-12 .suffix-2 {
        padding-right: 160px;
    }
    .container-12 .suffix-3 {
        padding-right: 240px;
    }
    .container-12 .suffix-4 {
        padding-right: 320px;
    }
    .container-12 .suffix-5 {
        padding-right: 400px;
    }
    .container-12 .suffix-6 {
        padding-right: 480px;
    }
    .container-12 .suffix-7 {
        padding-right: 560px;
    }
    .container-12 .suffix-8 {
        padding-right: 640px;
    }
    .container-12 .suffix-9 {
        padding-right: 720px;
    }
    .container-12 .suffix-10 {
        padding-right: 800px;
    }
    .container-12 .suffix-11 {
        padding-right: 880px;
    }
    .container-12 .push-1 {
        left: 80px;
    }
    .container-12 .push-2 {
        left: 160px;
    }
    .container-12 .push-3 {
        left: 240px;
    }
    .container-12 .push-4 {
        left: 320px;
    }
    .container-12 .push-5 {
        left: 400px;
    }
    .container-12 .push-6 {
        left: 480px;
    }
    .container-12 .push-7 {
        left: 560px;
    }
    .container-12 .push-8 {
        left: 640px;
    }
    .container-12 .push-9 {
        left: 720px;
    }
    .container-12 .push-10 {
        left: 800px;
    }
    .container-12 .push-11 {
        left: 880px;
    }
    .container-12 .pull-1 {
        left: -80px;
    }
    .container-12 .pull-2 {
        left: -160px;
    }
    .container-12 .pull-3 {
        left: -240px;
    }
    .container-12 .pull-4 {
        left: -320px;
    }
    .container-12 .pull-5 {
        left: -400px;
    }
    .container-12 .pull-6 {
        left: -480px;
    }
    .container-12 .pull-7 {
        left: -560px;
    }
    .container-12 .pull-8 {
        left: -640px;
    }
    .container-12 .pull-9 {
        left: -720px;
    }
    .container-12 .pull-10 {
        left: -800px;
    }
    .container-12 .pull-11 {
        left: -880px;
    }
}

@media all and (min-width:1220px) {}

@media all and (min-width:1220px) {
    img {
        max-width: 100%;
        height: auto;
    }
    body {
        background: #0555a4;
        border: 0;
        margin: 0;
        padding: 0;
    }
    #zone-menu-wrapper {
        background: #0555a4;
        padding-bottom: 10px;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 45px;
        top: 0;
        box-shadow: -4px 5px 10px black;
    }
    #zone-menu {
        position: relative;
        z-index: 200;
    }
    #breadcrumb {
        display: none;
    }
    #block-superfish-1 {
        display: block;
        font-size: 110%;
        margin-top: 15px;
        float: right;
    }
    #block-superfish-1 select {
        background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        width: 40%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-2 select {
        background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        width: 120%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-3 {
        font-size: 100%;
    }
    #block-superfish-3 .sf-sub-indicator {
        display: none;
    }
    #block-superfish-3 a {
        background: #0555a4;
        border: none;
    }
    #block-superfish-3 ul li {
        background: #0555a4;
    }
    #block-superfish-3 select {
        background: #0555a4;
        color: #fff;
        cursor: pointer;
        border: 0;
        float: right;
        margin: 10px;
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 10px;
    }
    #block-superfish-1 ul li {
        background: rgba(5, 85, 164, 0.8);
    }
    #block-superfish-1 ul a:hover {
        color: #fff;
        background: #c93221;
    }
    #block-superfish-1 .block-title {
        display: none;
    }
    #zone-branding-wrapper {
        width: 100%;
        margin-top: 50px;
        background: url(../images/small-version-facade.png) #2c3e50 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        background-position: center;
    }
    #zone-header-wrapper {
        width: 100%;
    }
    .flexslider {
        margin-bottom: -8px;
    }
    .flexslider .field-content p {
        width: 100%;
        padding: 10px;
        margin: -40px 0 0 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
    }
    .flexslider .field-content p a {
        color: #fff;
        text-decoration: none;
    }
    .flexslider .field-content p a a:hover {
        color: #fff;
    }
    .flexslider .flex-direction-nav li a {
        padding: 30px 0 30px 0;
    }
    .flexslider .flex-control-paging {
        display: none;
    }
    #section-content {
        padding: 5px 0px;
        background: #ecf0f1;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 90;
    }
    #region-content .views-field-term-node-tid {
        color: #c93221;
    }
    #region-content .views-field-term-node-tid a {
        font-weight: 1px;
        color: #c93221;
    }
    #region-content #block-views-mandaluyong-news-article-block .block-title,
    #region-content #block-views-mandaluyong-announcement-block .block-title,
    #region-content #block-views-pasig-news-article-block .block-title,
    #region-content #block-views-pasig-announcement-block .block-title,
    #region-content #block-views-pasay-announcement-block .block-title,
    #region-content #block-views-malabon-news-article-block .block-title,
    #region-content #block-views-malabon-announcements-block .block-title {
        color: #ecf0f1;
        background: #c93221;
        padding: 0 0 0 10px;
    }
    #region-content #block-views-mandaluyong-news-article-block .more-link a,
    #region-content #block-views-mandaluyong-announcement-block .more-link a,
    #region-content #block-views-pasig-news-article-block .more-link a,
    #region-content #block-views-pasig-announcement-block .more-link a,
    #region-content #block-views-pasay-announcement-block .more-link a,
    #region-content #block-views-malabon-news-article-block .more-link a,
    #region-content #block-views-malabon-announcements-block .more-link a {
        color: #ecf0f1;
        background: #c93221;
        padding: 5px;
    }
    #page-title {
        font-size: 24px;
        color: #671213;
        border-bottom: #3498db 1px solid;
    }
    .submitted {
        color: #34495e;
        font-size: 14px;
        font-style: italic;
    }
    .view-content .views-row {
        border-bottom: #CCC 2px solid;
        margin-bottom: 20px;
    }
    .view-content .views-row .node-title a {
        font-size: 22px;
        text-decoration: none;
    }
    #zone-footer-wrapper {
        background: #2c3e50;
        color: #ecf0f1;
        padding-top: 10px;
    }
    #zone-footer-wrapper .block-superfish-2 {
        margin-top: -90px;
        float: right;
    }
    #zone-footer-wrapper #block-superfish-2 ul {
        background: #2c3e50;
    }
    #zone-footer-wrapper #block-superfish-2 a {
        background: #2c3e50;
    }
    #zone-footer-wrapper #block-superfish-2 a:hover {
        color: #fff;
        background: #c93221;
    }
    #zone-footer-wrapper .block-superfish-2 .block-title {
        display: none;
    }
    #region-sidebar-first,
    #region-sidebar-second {
        background: #0555a4;
        margin-top: -6px;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
    }
    #region-sidebar-second .content p {
        color: #fff;
    }
    #region-sidebar-first a,
    #region-sidebar-second a {
        color: #fff;
        text-decoration: none;
    }
    #block-menu-menu-sports-menu,
    #block-menu-menu-alumni-sublinks,
    #block-menu-menu-students-sublinks,
    #block-menu-menu-colleges-sublinks,
    #block-menu-menu-administration-sublinks,
    #block-menu-menu-academic-policies-sublinks,
    #block-menu-menu-programs-sublink,
    #block-superfish-3,
    #block-views-pasay-news-article-block,
    #block-views-pasig-news-article-block,
    #block-views-mandaluyong-news-article-block,
    #block-views-pasay-hotlinks-block,
    #block-views-pasig-hotlinks-block,
    #block-views-mandaluyong-hotlinks-block,
    #block-views-malabon-hotlinks-block,
    #block-block-6,
    #block-block-7,
    #block-block-8,
    #block-block-9,
    #block-views-about-us-sublinks-block,
    #block-menu-menu-hrd-sublinks,
    #block-menu-menu-pasig-sublinks,
    #block-menu-menu-plaridel-sublinks,
    #block-menu-menu-research-sublinks,
    #block-menu-menu-pasay-sublinks,
    #block-menu-menu-malabon-sublinks,
    #block-block-11 {
        margin: 5px 10px 40px 10px;
    }
    #block-menu-menu-sports-menu .block-title,
    #block-menu-menu-alumni-sublinks .block-title,
    #block-menu-menu-students-sublinks .block-title,
    #block-menu-menu-colleges-sublinks .block-title,
    #block-menu-menu-administration-sublinks .block-title,
    #block-menu-menu-academic-policies-sublinks .block-title,
    #block-menu-menu-programs-sublink .block-title,
    #block-superfish-3 .block-title,
    #block-views-pasay-news-article-block .block-title,
    #block-views-pasay-hotlinks-block .block-title,
    #block-views-pasig-hotlinks-block .block-title,
    #block-views-mandaluyong-hotlinks-block .block-title,
    #block-views-malabon-hotlinks-block .block-title,
    #block-block-6 .block-title,
    #block-block-7 .block-title,
    #block-block-8 .block-title,
    #block-block-9 .block-title,
    #block-views-about-us-sublinks-block .block-title,
    #block-menu-menu-hrd-sublinks .block-title,
    #block-menu-menu-pasig-sublinks .block-title,
    #block-menu-menu-plaridel-sublinks .block-title,
    #block-menu-menu-research-sublinks .block-title,
    #block-menu-menu-pasay-sublinks .block-title,
    #block-menu-menu-malabon-sublinks .block-title,
    #block-block-11 .block-title {
        color: #ecf0f1;
        padding: 5px;
        background: #c93221;
        border-bottom: 1px solid #ecf0f1;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 10px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #block-views-about-us-sublinks-block .view-content .views-row {
        border-bottom: none;
    }
    #block-menu-menu-sports-menu ul li,
    #block-menu-menu-alumni-sublinks ul li,
    #block-menu-menu-students-sublinks ul li,
    #block-menu-menu-colleges-sublinks ul li,
    #block-menu-menu-administration-sublinks ul li,
    #block-menu-menu-academic-policies-sublinks ul li,
    #block-menu-menu-programs-sublink ul li,
    #block-superfish-3 ul li,
    #block-menu-menu-research-sublinks ul li,
    #block-menu-menu-hrd-sublinks ul li,
    #block-menu-menu-pasig-sublinks ul li,
    #block-menu-menu-plaridel-sublinks ul li,
    #block-menu-menu-pasay-sublinks ul li,
    #block-views-pasay-news-article-block div,
    #block-menu-menu-malabon-sublinks ul li,
    #block-block-11 p {
        padding: 7px;
        text-decoration: none;
        list-style: none;
    }
    #block-menu-menu-sports-menu ul li a,
    #block-menu-menu-alumni-sublinks ul li a,
    #block-menu-menu-students-sublinks ul li a,
    #block-menu-menu-colleges-sublinks ul li a,
    #block-menu-menu-administration-sublinks ul li a,
    #block-menu-menu-academic-policies-sublinks ul li a,
    #block-menu-menu-programs-sublink ul li a,
    #block-superfish-3 ul li a,
    #block-menu-menu-research-sublinks ul li a,
    #block-views-pasay-news-article-block div a,
    #block-views-about-us-sublinks-block ul li a,
    #block-menu-menu-hrd-sublinks ul li a,
    #block-menu-menu-pasig-sublinks ul li a,
    #block-menu-menu-plaridel-sublinks ul li a,
    #block-menu-menu-pasay-sublinks ul li a,
    #block-menu-menu-malabon-sublinks ul li a,
    #block-block-11 p a {
        padding: 5px;
    }
    #block-menu-menu-sports-menu li a:hover,
    #block-menu-menu-alumni-sublinks li a:hover,
    #block-menu-menu-students-sublinks li a:hover,
    #block-menu-menu-colleges-sublinks li a:hover,
    #block-menu-menu-administration-sublinks li a:hover,
    #block-menu-menu-academic-policies-sublinks li a:hover,
    #block-menu-menu-programs-sublink li a:hover,
    #block-superfish-3 li a:hover,
    #block-menu-menu-research-sublinks li a:hover,
    #block-views-pasay-news-article-block div a:hover,
    #block-views-about-us-sublinks-block div a:hover,
    #block-menu-menu-hrd-sublinks a:hover,
    #block-menu-menu-pasig-sublinks a:hover,
    #block-menu-menu-plaridel-sublinks a:hover,
    #block-menu-menu-pasay-sublinks a:hover,
    #block-menu-menu-malabon-sublinks a:hover,
    #block-block-11 p a:hover {
        text-decoration: underline;
    }
    #block-views-notifications-block-1 {
        background: url(../images/notifcation_bg.png) no-repeat top left;
        position: absolute;
        padding: 19px;
        cursor: pointer;
        z-index: 0;
        margin: 15px 0px 0px 0px;
    }
    #block-views-notifications-block-1 .block-title {
        position: absolute;
        width: 150px;
        display: none;
        color: #ecf0f1;
        background: url(../images/arrowup_bg.png) no-repeat;
        padding: 15px 20px 0 20px;
        margin: 15px 0px 0px -20px;
    }
    #block-views-notifications-block-1 .views-field-title .views-label-title {
        position: absolute;
        display: none;
        font-size: 18px;
        font-style: bold;
        color: #ecf0f1;
        background: #c93221;
        width: 96.5%;
        padding: 5px;
        margin: -35px 0px 0px -10px;
    }
    #block-views-notifications-block-1 .content {
        position: absolute;
        width: 250px;
        display: none;
        text-align: left;
        background: #ecf0f1;
        margin: 21px 0px 0px -20px;
        color: #34495e;
        padding: 15px 10px 10px 10px;
        border-bottom: thin #000;
        box-shadow: -2px 3px 5px black;
    }
    #block-views-notifications-block-1 .views-field-term-node-tid {
        color: #c93221;
    }
    #block-views-notifications-block-1 .views-field-term-node-tid a {
        font-weight: 1px;
        color: #c93221;
    }
    #block-views-notifications-block-1 a {
        color: #34495e;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition: all 0.5s ease-in-out;
    }
    #block-views-notifications-block-1 a:hover {
        color: #3498db;
        text-decoration: underline;
    }
    #block-views-hot-links-block {
        background: url(../images/hot_links.png) no-repeat;
        position: absolute;
        padding: 32px 33px 0px 0px;
        cursor: pointer;
        z-index: 0;
        margin: 15px 0 0 40px;
    }
    #block-views-hot-links-block .block-title {
        position: absolute;
        display: none;
        z-index: -2;
        color: #ecf0f1;
        background: url(../images/arrowup_bg.png) no-repeat;
        padding: 15px 40px 0 40px;
    }
    #block-views-hot-links-block .views-field-title .views-label-title {
        position: absolute;
        display: none;
        font-size: 18px;
        font-style: bold;
        color: #ecf0f1;
        background: #c93221;
        width: 96.5%;
        padding: 5px;
        margin: -49px 0 0 -10px;
    }
    #block-views-hot-links-block .content {
        position: absolute;
        width: 250px;
        display: none;
        text-align: left;
        background: rgba(236, 240, 241, 0.8);
        color: #34495e;
        padding: 15px 10px 10px 10px;
        margin: 12px 0px 0px 0px;
        box-shadow: -2px 3px 5px black;
    }
    #block-views-hot-links-block .view-content {
        padding: 30px 0px 0px 0px;
    }
    #block-views-hot-links-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-hot-links-block .views-field-title span {
        display: none;
    }
    #block-views-home-btn-block {
        margin: 4px 0 0 80px;
        position: absolute;
        z-index: 0;
    }
    #block-views-home-btn-block .view-content .views-row {
        border-bottom: none;
    }
    #block-search-form {
        position: absolute;
        display: block;
        cursor: pointer;
        margin: 15px 0 0 120px;
    }
    #block-search-form #edit-submit {
        height: 33px;
        width: 33px;
        text-indent: -9999px;
        background: url(../images/search-btn.png) no-repeat;
        border: 0;
    }
    #block-search-form .block-title {
        display: none;
    }
    #block-search-form .content {
        padding: 2px;
    }
    #webform-client-form-76 div label {
        font-size: 16px;
    }
    #webform-client-form-76 div input,
    #webform-client-form-76 div select {
        height: 30px;
        width: 50%;
        border: 1px #3498db solid;
        border-bottom-left-radius: 5px 5px;
        -moz-border-radius-bottomleft: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        -moz-border-radius-bottomright: 5px 5px;
        border-top-left-radius: 5px 5px;
        -moz-border-radius-topleft: 5px 5px;
        border-top-right-radius: 5px 5px;
        -moz-border-radius-topright: 5px 5px;
    }
    #webform-client-form-76 div textarea {
        height: 100px;
        width: 50%;
        border: 1px #999999 solid;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 15px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 15px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #webform-client-form-76 div .grippie {
        display: none;
    }
    #webform-client-form-76 #edit-submit {
        background: #0555a4;
        width: none;
        color: #ecf0f1;
        text-shadow: none;
    }
    #block-views-57bac0dff7fc78ac8f16d460a1601e2f li {
        border: none;
    }
    #block-views-57bac0dff7fc78ac8f16d460a1601e2f .views-field-title {
        color: #fff;
        font-size: 100%;
        cursor: pointer;
        width: 80%;
        padding-left: 20px;
        background: #0555a4;
        border-bottom-left-radius: 10px 10px;
        -moz-border-radius-bottomleft: 15px 10px;
        border-bottom-right-radius: 10px 10px;
        -moz-border-radius-bottomright: 10px 10px;
        border-top-left-radius: 10px 10px;
        -moz-border-radius-topleft: 15px 10px;
        border-top-right-radius: 10px 10px;
        -moz-border-radius-topright: 10px 10px;
    }
    #node-webform-76 .field-items .main-contact {
        background: #c93221;
        margin: -20px 20px;
        width: 50%;
    }
    #node-webform-76 .field-items .pasay-contact,
    #node-webform-76 .field-items .law-contact,
    #node-webform-76 .field-items .pasig-contact,
    #node-webform-76 .field-items .malabon-contact,
    #node-webform-76 .field-items .mandaluyong-contact {
        display: none;
        background: #c93221;
        width: 50%;
        margin: -20px 20px;
    }
    #node-webform-76 .field-items .main-contact ul,
    #node-webform-76 .field-items .pasay-contact ul,
    #node-webform-76 .field-items .law-contact ul,
    #node-webform-76 .field-items .pasig-contact ul,
    #node-webform-76 .field-items .malabon-contact ul,
    #node-webform-76 .field-items .mandaluyong-contact ul {
        list-style: none;
    }
    #block-block-10 {
        padding-bottom: 50px;
    }
    #block-block-10 .block-title {
        background: url(../images/campuses.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 50px 30px 30px;
    }
    #block-block-10 .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-block-10 .view-content .views-row {
        margin-top: 15px;
        border-bottom: none;
    }
    #block-block-10 a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-block-10 a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-menu-menu-colleges-sublinks .menu ul {
        display: none;
    }
    #block-menu-menu-colleges-sublinks .menu li:focus > ul {
        display: block;
    }
    #block-superfish-3 {
        font-size: 120%;
    }
    #zone-branding .logo-img {
        padding: 20px 0px;
        margin-left: 0;
    }
    #zone-footer-wrapper .block-superfish-2 {
        margin: 0;
    }
    #block-views-notifications-block-1 .content {
        margin: 21px 0px 0px -20px;
    }
    #block-views-hot-links-block .views-field-title .views-label-title {
        margin: -64px 0 0 -10px;
    }
    #block-views-sport-events-block .block-title {
        background: url(../images/sports_bg_hov.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 50px 30px 30px;
    }
    #block-views-sport-events-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    .view-content .views-row {
        margin-top: 15px;
    }
    #block-views-sport-events-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-sport-events-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-sport-events-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-views-news-and-articles-block .block-title {
        background: url(../images/article_bg.png) #0555a4 no-repeat;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 50px 30px 30px;
    }
    #block-views-news-and-articles-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-views-news-and-articles-block .view-content .views-row {
        margin-top: 15px;
    }
    #block-views-news-and-articles-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-news-and-articles-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-news-and-articles-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    #block-views-affiliates-block {
        padding-bottom: 0px;
    }
    #block-views-affiliates-block .block-title {
        background: url(../images/campuses.png) #0555a4 no-repeat;
        border-right: 1px dashed #34495e;
        color: #ecf0f1;
        text-align: right;
        padding: 40px 50px 30px 30px;
    }
    #block-views-affiliates-block .content {
        opacity: 1;
        border-right: 1px dashed #34495e;
        border-left: 1px dashed #34495e;
        color: #34495e;
        padding: 5px;
    }
    #block-views-affiliates-block .view-content .views-row {
        margin-top: 15px;
    }
    #block-views-affiliates-block .view-content .views-row {
        border-bottom: none;
    }
    #block-views-affiliates-block a {
        color: #34495e;
        font-size: 14px;
        text-decoration: none;
    }
    #block-views-affiliates-block a:hover {
        color: #3498db;
        text-decoration: none;
    }
    .branches-courses-list ul li {
        text-decoration: none;
        list-style: none;
    }
}

@media all and (min-width:1220px) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        display: inline;
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    .push-1,
    .pull-1,
    .push-2,
    .pull-2,
    .push-3,
    .pull-3,
    .push-4,
    .pull-4,
    .push-5,
    .pull-5,
    .push-6,
    .pull-6,
    .push-7,
    .pull-7,
    .push-8,
    .pull-8,
    .push-9,
    .pull-9,
    .push-10,
    .pull-10,
    .push-11,
    .pull-11,
    .push-12,
    .pull-12 {
        position: relative;
    }
    .alpha {
        margin-left: 0;
    }
    .omega {
        margin-right: 0;
    }
    body {
        min-width: 1200px;
    }
    .container-12 {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }
    .container-12 .grid-1 {
        width: 80px;
    }
    .container-12 .grid-2 {
        width: 180px;
    }
    .container-12 .grid-3 {
        width: 280px;
    }
    .container-12 .grid-4 {
        width: 380px;
    }
    .container-12 .grid-5 {
        width: 480px;
    }
    .container-12 .grid-6 {
        width: 580px;
    }
    .container-12 .grid-7 {
        width: 680px;
    }
    .container-12 .grid-8 {
        width: 780px;
    }
    .container-12 .grid-9 {
        width: 880px;
    }
    .container-12 .grid-10 {
        width: 980px;
    }
    .container-12 .grid-11 {
        width: 1080px;
    }
    .container-12 .grid-12 {
        width: 1180px;
    }
    .container-12 .prefix-1 {
        padding-left: 100px;
    }
    .container-12 .prefix-2 {
        padding-left: 200px;
    }
    .container-12 .prefix-3 {
        padding-left: 300px;
    }
    .container-12 .prefix-4 {
        padding-left: 400px;
    }
    .container-12 .prefix-5 {
        padding-left: 500px;
    }
    .container-12 .prefix-6 {
        padding-left: 600px;
    }
    .container-12 .prefix-7 {
        padding-left: 700px;
    }
    .container-12 .prefix-8 {
        padding-left: 800px;
    }
    .container-12 .prefix-9 {
        padding-left: 900px;
    }
    .container-12 .prefix-10 {
        padding-left: 1000px;
    }
    .container-12 .prefix-11 {
        padding-left: 1100px;
    }
    .container-12 .suffix-1 {
        padding-right: 100px;
    }
    .container-12 .suffix-2 {
        padding-right: 200px;
    }
    .container-12 .suffix-3 {
        padding-right: 300px;
    }
    .container-12 .suffix-4 {
        padding-right: 400px;
    }
    .container-12 .suffix-5 {
        padding-right: 500px;
    }
    .container-12 .suffix-6 {
        padding-right: 600px;
    }
    .container-12 .suffix-7 {
        padding-right: 700px;
    }
    .container-12 .suffix-8 {
        padding-right: 800px;
    }
    .container-12 .suffix-9 {
        padding-right: 900px;
    }
    .container-12 .suffix-10 {
        padding-right: 1000px;
    }
    .container-12 .suffix-11 {
        padding-right: 1100px;
    }
    .container-12 .push-1 {
        left: 100px;
    }
    .container-12 .push-2 {
        left: 200px;
    }
    .container-12 .push-3 {
        left: 300px;
    }
    .container-12 .push-4 {
        left: 400px;
    }
    .container-12 .push-5 {
        left: 500px;
    }
    .container-12 .push-6 {
        left: 600px;
    }
    .container-12 .push-7 {
        left: 700px;
    }
    .container-12 .push-8 {
        left: 800px;
    }
    .container-12 .push-9 {
        left: 900px;
    }
    .container-12 .push-10 {
        left: 1000px;
    }
    .container-12 .push-11 {
        left: 1100px;
    }
    .container-12 .pull-1 {
        left: -100px;
    }
    .container-12 .pull-2 {
        left: -200px;
    }
    .container-12 .pull-3 {
        left: -300px;
    }
    .container-12 .pull-4 {
        left: -400px;
    }
    .container-12 .pull-5 {
        left: -500px;
    }
    .container-12 .pull-6 {
        left: -600px;
    }
    .container-12 .pull-7 {
        left: -700px;
    }
    .container-12 .pull-8 {
        left: -800px;
    }
    .container-12 .pull-9 {
        left: -900px;
    }
    .container-12 .pull-10 {
        left: -1000px;
    }
    .container-12 .pull-11 {
        left: -1100px;
    }
}