img {
    max-width: 100%;
    height: auto;
}

body {
    background: #0555a4;
    border: 0;
    margin: 0;
    padding: 0;
}

#zone-menu-wrapper {
    background: #0555a4;
    padding-bottom: 10px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 45px;
    top: 0;
    box-shadow: -4px 5px 10px black;
}

#zone-menu {
    position: relative;
    z-index: 200;
}

#breadcrumb {
    display: none;
}

#block-superfish-1 {
    display: block;
    font-size: 110%;
    margin-top: 15px;
    float: right;
}

#block-superfish-1 select {
    background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
    color: #fff;
    cursor: pointer;
    border: 0;
    float: right;
    width: 40%;
    border-radius: 5px;
    -moz-border-radius: 10px;
}

#block-superfish-2 select {
    background: #0555a4 url(../images/responsive-menu-btn.png) right no-repeat;
    color: #fff;
    cursor: pointer;
    border: 0;
    float: right;
    width: 120%;
    border-radius: 5px;
    -moz-border-radius: 10px;
}

#block-superfish-3 {
    font-size: 100%;
}

#block-superfish-3 .sf-sub-indicator {
    display: none;
}

#block-superfish-3 a {
    background: #0555a4;
    border: none;
}

#block-superfish-3 ul li {
    background: #0555a4;
}

#block-superfish-3 select {
    background: #0555a4;
    color: #fff;
    cursor: pointer;
    border: 0;
    float: right;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 10px;
}

#block-superfish-1 ul li {
    background: rgba(5, 85, 164, 0.8);
}

#block-superfish-1 ul a:hover {
    color: #fff;
    background: #c93221;
}

#block-superfish-1 .block-title {
    display: none;
}

#zone-branding-wrapper {
    width: 100%;
    margin-top: 50px;
    background: url(../images/small-version-facade.png) #2c3e50 no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}

#zone-header-wrapper {
    width: 100%;
}

.flexslider {
    margin-bottom: -8px;
}

.flexslider .field-content p {
    width: 100%;
    padding: 10px;
    margin: -40px 0 0 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
}

.flexslider .field-content p a {
    color: #fff;
    text-decoration: none;
}

.flexslider .field-content p a a:hover {
    color: #fff;
}

.flexslider .flex-direction-nav li a {
    padding: 30px 0 30px 0;
}

.flexslider .flex-control-paging {
    display: none;
}

#section-content {
    padding: 5px 0px;
    background: #ecf0f1;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 90;
}

#region-content .views-field-term-node-tid {
    color: #c93221;
}

#region-content .views-field-term-node-tid a {
    font-weight: 1px;
    color: #c93221;
}

#region-content #block-views-mandaluyong-news-article-block .block-title,
#region-content #block-views-mandaluyong-announcement-block .block-title,
#region-content #block-views-pasig-news-article-block .block-title,
#region-content #block-views-pasig-announcement-block .block-title,
#region-content #block-views-pasay-announcement-block .block-title,
#region-content #block-views-malabon-news-article-block .block-title,
#region-content #block-views-malabon-announcements-block .block-title {
    color: #ecf0f1;
    background: #c93221;
    padding: 0 0 0 10px;
}

#region-content #block-views-mandaluyong-news-article-block .more-link a,
#region-content #block-views-mandaluyong-announcement-block .more-link a,
#region-content #block-views-pasig-news-article-block .more-link a,
#region-content #block-views-pasig-announcement-block .more-link a,
#region-content #block-views-pasay-announcement-block .more-link a,
#region-content #block-views-malabon-news-article-block .more-link a,
#region-content #block-views-malabon-announcements-block .more-link a {
    color: #ecf0f1;
    background: #c93221;
    padding: 5px;
}

#page-title {
    font-size: 24px;
    color: #671213;
    border-bottom: #3498db 1px solid;
}

.submitted {
    color: #34495e;
    font-size: 14px;
    font-style: italic;
}

.view-content .views-row {
    border-bottom: #CCC 2px solid;
    margin-bottom: 20px;
}

.view-content .views-row .node-title a {
    font-size: 22px;
    text-decoration: none;
}

#zone-footer-wrapper {
    background: #2c3e50;
    color: #ecf0f1;
    padding-top: 10px;
}

#zone-footer-wrapper .block-superfish-2 {
    margin-top: -90px;
    float: right;
}

#zone-footer-wrapper #block-superfish-2 ul {
    background: #2c3e50;
}

#zone-footer-wrapper #block-superfish-2 a {
    background: #2c3e50;
}

#zone-footer-wrapper #block-superfish-2 a:hover {
    color: #fff;
    background: #c93221;
}

#zone-footer-wrapper .block-superfish-2 .block-title {
    display: none;
}

#region-sidebar-first,
#region-sidebar-second {
    background: #0555a4;
    margin-top: -6px;
    border-bottom-left-radius: 10px 10px;
    -moz-border-radius-bottomleft: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    -moz-border-radius-bottomright: 10px 10px;
}

#region-sidebar-second .content p {
    color: #fff;
}

#region-sidebar-first a,
#region-sidebar-second a {
    color: #fff;
    text-decoration: none;
}

#block-menu-menu-sports-menu,
#block-menu-menu-alumni-sublinks,
#block-menu-menu-students-sublinks,
#block-menu-menu-colleges-sublinks,
#block-menu-menu-administration-sublinks,
#block-menu-menu-academic-policies-sublinks,
#block-menu-menu-programs-sublink,
#block-superfish-3,
#block-views-pasay-news-article-block,
#block-views-pasig-news-article-block,
#block-views-mandaluyong-news-article-block,
#block-views-pasay-hotlinks-block,
#block-views-pasig-hotlinks-block,
#block-views-mandaluyong-hotlinks-block,
#block-views-malabon-hotlinks-block,
#block-block-6,
#block-block-7,
#block-block-8,
#block-block-9,
#block-views-about-us-sublinks-block,
#block-menu-menu-hrd-sublinks,
#block-menu-menu-pasig-sublinks,
#block-menu-menu-plaridel-sublinks,
#block-menu-menu-research-sublinks,
#block-menu-menu-pasay-sublinks,
#block-menu-menu-malabon-sublinks,
#block-block-11 {
    margin: 5px 10px 40px 10px;
}

#block-menu-menu-sports-menu .block-title,
#block-menu-menu-alumni-sublinks .block-title,
#block-menu-menu-students-sublinks .block-title,
#block-menu-menu-colleges-sublinks .block-title,
#block-menu-menu-administration-sublinks .block-title,
#block-menu-menu-academic-policies-sublinks .block-title,
#block-menu-menu-programs-sublink .block-title,
#block-superfish-3 .block-title,
#block-views-pasay-news-article-block .block-title,
#block-views-pasay-hotlinks-block .block-title,
#block-views-pasig-hotlinks-block .block-title,
#block-views-mandaluyong-hotlinks-block .block-title,
#block-views-malabon-hotlinks-block .block-title,
#block-block-6 .block-title,
#block-block-7 .block-title,
#block-block-8 .block-title,
#block-block-9 .block-title,
#block-views-about-us-sublinks-block .block-title,
#block-menu-menu-hrd-sublinks .block-title,
#block-menu-menu-pasig-sublinks .block-title,
#block-menu-menu-plaridel-sublinks .block-title,
#block-menu-menu-research-sublinks .block-title,
#block-menu-menu-pasay-sublinks .block-title,
#block-menu-menu-malabon-sublinks .block-title,
#block-block-11 .block-title {
    color: #ecf0f1;
    padding: 5px;
    background: #c93221;
    border-bottom: 1px solid #ecf0f1;
    border-top-left-radius: 10px 10px;
    -moz-border-radius-topleft: 10px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-radius-topright: 10px 10px;
}

#block-views-about-us-sublinks-block .view-content .views-row {
    border-bottom: none;
}

#block-menu-menu-sports-menu ul li,
#block-menu-menu-alumni-sublinks ul li,
#block-menu-menu-students-sublinks ul li,
#block-menu-menu-colleges-sublinks ul li,
#block-menu-menu-administration-sublinks ul li,
#block-menu-menu-academic-policies-sublinks ul li,
#block-menu-menu-programs-sublink ul li,
#block-superfish-3 ul li,
#block-menu-menu-research-sublinks ul li,
#block-menu-menu-hrd-sublinks ul li,
#block-menu-menu-pasig-sublinks ul li,
#block-menu-menu-plaridel-sublinks ul li,
#block-menu-menu-pasay-sublinks ul li,
#block-views-pasay-news-article-block div,
#block-menu-menu-malabon-sublinks ul li,
#block-block-11 p {
    padding: 7px;
    text-decoration: none;
    list-style: none;
}

#block-menu-menu-sports-menu ul li a,
#block-menu-menu-alumni-sublinks ul li a,
#block-menu-menu-students-sublinks ul li a,
#block-menu-menu-colleges-sublinks ul li a,
#block-menu-menu-administration-sublinks ul li a,
#block-menu-menu-academic-policies-sublinks ul li a,
#block-menu-menu-programs-sublink ul li a,
#block-superfish-3 ul li a,
#block-menu-menu-research-sublinks ul li a,
#block-views-pasay-news-article-block div a,
#block-views-about-us-sublinks-block ul li a,
#block-menu-menu-hrd-sublinks ul li a,
#block-menu-menu-pasig-sublinks ul li a,
#block-menu-menu-plaridel-sublinks ul li a,
#block-menu-menu-pasay-sublinks ul li a,
#block-menu-menu-malabon-sublinks ul li a,
#block-block-11 p a {
    padding: 5px;
}

#block-menu-menu-sports-menu li a:hover,
#block-menu-menu-alumni-sublinks li a:hover,
#block-menu-menu-students-sublinks li a:hover,
#block-menu-menu-colleges-sublinks li a:hover,
#block-menu-menu-administration-sublinks li a:hover,
#block-menu-menu-academic-policies-sublinks li a:hover,
#block-menu-menu-programs-sublink li a:hover,
#block-superfish-3 li a:hover,
#block-menu-menu-research-sublinks li a:hover,
#block-views-pasay-news-article-block div a:hover,
#block-views-about-us-sublinks-block div a:hover,
#block-menu-menu-hrd-sublinks a:hover,
#block-menu-menu-pasig-sublinks a:hover,
#block-menu-menu-plaridel-sublinks a:hover,
#block-menu-menu-pasay-sublinks a:hover,
#block-menu-menu-malabon-sublinks a:hover,
#block-block-11 p a:hover {
    text-decoration: underline;
}

#block-views-notifications-block-1 {
    background: url(../images/notifcation_bg.png) no-repeat top left;
    position: absolute;
    padding: 19px;
    cursor: pointer;
    z-index: 0;
    margin: 15px 0px 0px 0px;
}

#block-views-notifications-block-1 .block-title {
    position: absolute;
    width: 150px;
    display: none;
    color: #ecf0f1;
    background: url(../images/arrowup_bg.png) no-repeat;
    padding: 15px 20px 0 20px;
    margin: 15px 0px 0px -20px;
}

#block-views-notifications-block-1 .views-field-title .views-label-title {
    position: absolute;
    display: none;
    font-size: 18px;
    font-style: bold;
    color: #ecf0f1;
    background: #c93221;
    width: 96.5%;
    padding: 5px;
    margin: -35px 0px 0px -10px;
}

#block-views-notifications-block-1 .content {
    position: absolute;
    width: 250px;
    display: none;
    text-align: left;
    background: #ecf0f1;
    margin: 21px 0px 0px -20px;
    color: #34495e;
    padding: 15px 10px 10px 10px;
    border-bottom: thin #000;
    box-shadow: -2px 3px 5px black;
}

#block-views-notifications-block-1 .views-field-term-node-tid {
    color: #c93221;
}

#block-views-notifications-block-1 .views-field-term-node-tid a {
    font-weight: 1px;
    color: #c93221;
}

#block-views-notifications-block-1 a {
    color: #34495e;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition: all 0.5s ease-in-out;
}

#block-views-notifications-block-1 a:hover {
    color: #3498db;
    text-decoration: underline;
}

#block-views-hot-links-block {
    background: url(../images/hot_links.png) no-repeat;
    position: absolute;
    padding: 32px 33px 0px 0px;
    cursor: pointer;
    z-index: 0;
    margin: 15px 0 0 40px;
}

#block-views-hot-links-block .block-title {
    position: absolute;
    display: none;
    z-index: -2;
    color: #ecf0f1;
    background: url(../images/arrowup_bg.png) no-repeat;
    padding: 15px 40px 0 40px;
}

#block-views-hot-links-block .views-field-title .views-label-title {
    position: absolute;
    display: none;
    font-size: 18px;
    font-style: bold;
    color: #ecf0f1;
    background: #c93221;
    width: 96.5%;
    padding: 5px;
    margin: -49px 0 0 -10px;
}

#block-views-hot-links-block .content {
    position: absolute;
    width: 250px;
    display: none;
    text-align: left;
    background: rgba(236, 240, 241, 0.8);
    color: #34495e;
    padding: 15px 10px 10px 10px;
    margin: 12px 0px 0px 0px;
    box-shadow: -2px 3px 5px black;
}

#block-views-hot-links-block .view-content {
    padding: 30px 0px 0px 0px;
}

#block-views-hot-links-block .view-content .views-row {
    border-bottom: none;
}

#block-views-hot-links-block .views-field-title span {
    display: none;
}

#block-views-home-btn-block {
    margin: 4px 0 0 80px;
    position: absolute;
    z-index: 0;
}

#block-views-home-btn-block .view-content .views-row {
    border-bottom: none;
}

#block-search-form {
    position: absolute;
    display: block;
    cursor: pointer;
    margin: 15px 0 0 120px;
}

#block-search-form #edit-submit {
    height: 33px;
    width: 33px;
    text-indent: -9999px;
    background: url(../images/search-btn.png) no-repeat;
    border: 0;
}

#block-search-form .block-title {
    display: none;
}

#block-search-form .content {
    padding: 2px;
}

#webform-client-form-76 div label {
    font-size: 16px;
}

#webform-client-form-76 div input,
#webform-client-form-76 div select {
    height: 30px;
    width: 50%;
    border: 1px #3498db solid;
    border-bottom-left-radius: 5px 5px;
    -moz-border-radius-bottomleft: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius-bottomright: 5px 5px;
    border-top-left-radius: 5px 5px;
    -moz-border-radius-topleft: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-topright: 5px 5px;
}

#webform-client-form-76 div textarea {
    height: 100px;
    width: 50%;
    border: 1px #999999 solid;
    border-bottom-left-radius: 10px 10px;
    -moz-border-radius-bottomleft: 15px 10px;
    border-bottom-right-radius: 10px 10px;
    -moz-border-radius-bottomright: 10px 10px;
    border-top-left-radius: 10px 10px;
    -moz-border-radius-topleft: 15px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-radius-topright: 10px 10px;
}

#webform-client-form-76 div .grippie {
    display: none;
}

#webform-client-form-76 #edit-submit {
    background: #0555a4;
    width: none;
    color: #ecf0f1;
    text-shadow: none;
}

#block-views-57bac0dff7fc78ac8f16d460a1601e2f li {
    border: none;
}

#block-views-57bac0dff7fc78ac8f16d460a1601e2f .views-field-title {
    color: #fff;
    font-size: 100%;
    cursor: pointer;
    width: 80%;
    padding-left: 20px;
    background: #0555a4;
    border-bottom-left-radius: 10px 10px;
    -moz-border-radius-bottomleft: 15px 10px;
    border-bottom-right-radius: 10px 10px;
    -moz-border-radius-bottomright: 10px 10px;
    border-top-left-radius: 10px 10px;
    -moz-border-radius-topleft: 15px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-radius-topright: 10px 10px;
}

#node-webform-76 .field-items .main-contact {
    background: #c93221;
    margin: -20px 20px;
    width: 50%;
}

#node-webform-76 .field-items .pasay-contact,
#node-webform-76 .field-items .law-contact,
#node-webform-76 .field-items .pasig-contact,
#node-webform-76 .field-items .malabon-contact,
#node-webform-76 .field-items .mandaluyong-contact {
    display: none;
    background: #c93221;
    width: 50%;
    margin: -20px 20px;
}

#node-webform-76 .field-items .main-contact ul,
#node-webform-76 .field-items .pasay-contact ul,
#node-webform-76 .field-items .law-contact ul,
#node-webform-76 .field-items .pasig-contact ul,
#node-webform-76 .field-items .malabon-contact ul,
#node-webform-76 .field-items .mandaluyong-contact ul {
    list-style: none;
}

#block-block-10 {
    padding-bottom: 50px;
}

#block-block-10 .block-title {
    background: url(../images/campuses.png) #0555a4 no-repeat;
    color: #ecf0f1;
    text-align: right;
    padding: 40px 50px 30px 30px;
}

#block-block-10 .content {
    opacity: 1;
    border-right: 1px dashed #34495e;
    border-left: 1px dashed #34495e;
    color: #34495e;
    padding: 5px;
}

#block-block-10 .view-content .views-row {
    margin-top: 15px;
    border-bottom: none;
}

#block-block-10 a {
    color: #34495e;
    font-size: 14px;
    text-decoration: none;
}

#block-block-10 a:hover {
    color: #3498db;
    text-decoration: none;
}

#block-menu-menu-colleges-sublinks .menu ul {
    display: none;
}

#block-menu-menu-colleges-sublinks .menu li:focus > ul {
    display: block;
}

#responsive-menus responsive-menus-0-0 absolute responsified {
    background: #006;
    display: none;
}

#block-superfish-1 .block-title {
    display: none;
}

#zone-branding .logo-img {
    padding: 20px 0px;
    margin-left: 0px;
}

#block-views-home-btn-block {
    margin: 20px 0 0 80px;
}

#block-search-form {
    display: none;
}

#block-views-sport-events-block .block-title {
    background: url(../images/sports_bg_hov.png) #0555a4 no-repeat;
    color: #ecf0f1;
    text-align: right;
    padding: 40px 30px 30px 30px;
}

#block-views-sport-events-block .content {
    opacity: 1;
    color: #34495e;
    border-right: 1px dashed #34495e;
    border-left: 1px dashed #34495e;
    padding: 5px;
}

#block-views-sport-events-block .view-content .views-row {
    border-bottom: none;
    margin-top: 15px;
}

#block-views-sport-events-block a {
    color: #34495e;
    font-size: 14px;
    text-decoration: none;
}

#block-views-sport-events-block a:hover {
    color: #3498db;
    text-decoration: none;
}

#block-views-news-and-articles-block .block-title {
    background: url(../images/article_bg.png) #0555a4 no-repeat;
    color: #ecf0f1;
    text-align: right;
    padding: 40px 50px 30px 30px;
}

#block-views-news-and-articles-block .content {
    opacity: 1;
    border-right: 1px dashed #34495e;
    border-left: 1px dashed #34495e;
    color: #34495e;
    padding: 5px;
}

#block-views-news-and-articles-block .view-content .views-row {
    margin-top: 15px;
    border-bottom: none;
}

#block-views-news-and-articles-block a {
    color: #34495e;
    font-size: 14px;
    text-decoration: none;
}

#block-views-news-and-articles-block a:hover {
    color: #3498db;
    text-decoration: none;
}

#block-views-affiliates-block #views-field views-field-created {
    display: none;
}

#block-views-affiliates-block {
    padding-bottom: 50px;
}

#block-views-affiliates-block .block-title {
    background: url(../images/campuses.png) #0555a4 no-repeat;
    color: #ecf0f1;
    text-align: right;
    padding: 40px 50px 30px 30px;
}

#block-views-affiliates-block .content {
    opacity: 1;
    border-right: 1px dashed #34495e;
    border-left: 1px dashed #34495e;
    color: #34495e;
    padding: 5px;
}

#block-views-affiliates-block .view-content .views-row {
    margin-top: 15px;
    border-bottom: none;
}

#block-views-affiliates-block a {
    color: #34495e;
    font-size: 14px;
    text-decoration: none;
}

#block-views-affiliates-block a:hover {
    color: #3498db;
    text-decoration: none;
}