img.adaptive-image {
    max-width: 100%;
}

#comments {
    margin-top: 15px;
}

.indented {
    margin-left: 25px;
}

.comment-unpublished {
    background-color: #fff4f4;
}

.comment-preview {
    background-color: #ffffea;
}

.field .field-label {
    font-weight: bold;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
    float: left;
}

form .field-multiple-table {
    margin: 0;
}

form .field-multiple-table th.field-label {
    padding-left: 0;
}

form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
}

form .field-add-more-submit {
    margin: .5em 0 0;
}

.node-unpublished {
    background-color: #fff4f4;
}

.preview .node {
    background-color: #ffffea;
}

td.revision-current {
    background: #ffc;
}

span[data-picture-align="left"],
img[data-picture-align="left"] {
    float: left;
}

span[data-picture-align="right"],
img[data-picture-align="right"] {
    float: right;
}

span[data-picture-align="center"],
img[data-picture-align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cke_dialog_body tr td:last-child {
    border-right: 0px;
}

.search-form {
    margin-bottom: 1em;
}

.search-form input {
    margin-top: 0;
    margin-bottom: 0;
}

.search-results {
    list-style: none;
}

.search-results p {
    margin-top: 0;
}

.search-results .title {
    font-size: 1.2em;
}

.search-results li {
    margin-bottom: 1em;
}

.search-results .search-snippet-info {
    padding-left: 1em;
}

.search-results .search-info {
    font-size: 0.85em;
}

.search-advanced .criterion {
    float: left;
    margin-right: 2em;
}

.search-advanced .action {
    float: left;
    clear: left;
}

#permissions td.module {
    font-weight: bold;
}

#permissions td.permission {
    padding-left: 1.5em;
}

#permissions tr.odd .form-item,
#permissions tr.even .form-item {
    white-space: normal;
}

#user-admin-settings fieldset .fieldset-description {
    font-size: 0.85em;
    padding-bottom: .5em;
}

#user-admin-roles td.edit-name {
    clear: both;
}

#user-admin-roles .form-item-name {
    float: left;
    margin-right: 1em;
}

.password-strength {
    width: 17em;
    float: right;
    margin-top: 1.4em;
}

.password-strength-title {
    display: inline;
}

.password-strength-text {
    float: right;
    font-weight: bold;
}

.password-indicator {
    background-color: #C4C4C4;
    height: 0.3em;
    width: 100%;
}

.password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;
}

input.password-confirm,
input.password-field {
    width: 16em;
    margin-bottom: 0.4em;
}

div.password-confirm {
    float: right;
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
}

div.form-item div.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    width: 38.5em;
    border: 1px solid #B4B4B4;
}

div.password-suggestions ul {
    margin-bottom: 0;
}

.confirm-parent,
.password-parent {
    clear: left;
    margin: 0;
    width: 36.3em;
}

.profile {
    clear: both;
    margin: 1em 0;
}

.profile .user-picture {
    float: right;
    margin: 0 1em 1em 0;
}

.profile h3 {
    border-bottom: 1px solid #ccc;
}

.profile dl {
    margin: 0 0 1.5em 0;
}

.profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
}

.profile dd {
    margin: 0 0 1em 0;
}

.views-popup-window {
    border: black solid 1px;
    padding: 4px 8px;
    display: none;
    z-index: 100;
    background: white;
    position: fixed;
    white-space: nowrap;
}

.views-popup-window .views-label {
    display: block;
    font-size: 150%;
    font-weight: bold;
}

span.views-popup-item {
    margin-right: 4px;
}

.views-popup-window-translucent {
    background: url(sites/all/modules/views_popup/images/background50.png) repeat scroll 0 0 transparent;
}

.views-popup-window-shadow {
    box-shadow: 5px 5px 8px #888888;
}

.views-popup-window-close-button {
    position: absolute;
    top: -1px;
    left: -18px;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    background: url(sites/all/modules/views_popup/images/close.png) repeat scroll 0 0 #FFFFFF;
}

.views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form label {
    font-weight: bold;
}

.views-exposed-widgets {
    margin-bottom: .5em;
}

.views-align-left {
    text-align: left;
}

.views-align-right {
    text-align: right;
}

.views-align-center {
    text-align: center;
}

.views-view-grid tbody {
    border-top: none;
}

.view .progress-disabled {
    float: none;
}

div.vertical-tabs fieldset.jquerymobile-link-attributes,
div.vertical-tabs fieldset.jquerymobile-wrapper {
    border: 1px solid #CCC;
}

div.vertical-tabs fieldset.jquerymobile-link-attributes legend,
div.vertical-tabs fieldset.jquerymobile-wrapper legend {
    display: block;
}

div.vertical-tabs fieldset.jquerymobile-link-attributes .fieldset-legend,
div.vertical-tabs fieldset.jquerymobile-wrapper .fieldset-legend {
    position: relative;
}

.rteindent1 {
    margin-left: 40px;
}

.rteindent2 {
    margin-left: 80px;
}

.rteindent3 {
    margin-left: 120px;
}

.rteindent4 {
    margin-left: 160px;
}

.rteleft {
    text-align: left;
}

.rteright {
    text-align: right;
}

.rtecenter {
    text-align: center;
}

.rtejustify {
    text-align: justify;
}

.ibimage_left {
    float: left;
}

.ibimage_right {
    float: right;
}