.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}

.ctools-owns-lock {
    background: #ffffdd none repeat scroll 0 0;
    border: 1px solid #f0c020;
    padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(status-active.gif) center center no-repeat;
}

div.panel-pane div.admin-links {
    font-size: xx-small;
    margin-right: 1em;
}

div.panel-pane div.admin-links li a {
    color: #ccc;
}

div.panel-pane div.admin-links li {
    padding-bottom: 2px;
    background: white;
    z-index: 201;
}

div.panel-pane div.admin-links:hover a,
div.panel-pane div.admin-links-hover a {
    color: #000;
}

div.panel-pane div.admin-links a:before {
    content: "[";
}

div.panel-pane div.admin-links a:after {
    content: "]";
}

div.panel-pane div.panel-hide {
    display: none;
}

div.panel-pane div.panel-hide-hover,
div.panel-pane:hover div.panel-hide {
    display: block;
    position: absolute;
    z-index: 200;
    margin-top: -1.5em;
}

div.panel-pane div.feed a {
    float: right;
}

.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
    display: none;
}

.flexslider:hover .flex-direction-nav a,
.flexslider:hover .flex-direction-nav a {
    display: block;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'flexslider-icon';
    src: url(flexslider-icon.eot);
    src: url(flexslider-icon.eot?#iefix) format('embedded-opentype'), url(flexslider-icon.woff) format('woff'), url(flexslider-icon.ttf) format('truetype'), url(flexslider-icon.svg#flexslider-icon) format('svg');
    font-weight: normal;
    font-style: normal;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flexslider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
    left: -50px;
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}

.flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
}

.flex-direction-nav a.flex-next:before {
    content: '\f002';
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width:860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

#sliding-popup {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 99999;
    left: 0;
    text-align: center;
}

.sliding-popup-bottom,
.sliding-popup-top {
    background: url(sites/all/modules/eu_cookie_compliance/images/gradient.png) center center scroll repeat-y transparent;
}

.sliding-popup-bottom {
    position: fixed;
}

.sliding-popup-top {
    position: relative;
}

#sliding-popup .popup-content {
    margin: 0 auto;
    max-width: 80%;
    display: inline-block;
    text-align: left;
    width: 100%;
}

#sliding-popup .popup-content #popup-buttons {
    float: right;
    margin: 0 0 1em 0;
    max-width: 40%;
}

#sliding-popup .eu-cookie-compliance-more-button {
    cursor: pointer;
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: underline;
    background: none;
}

#sliding-popup .eu-cookie-compliance-secondary-button {
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 1em;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 18px;
}

#sliding-popup .eu-cookie-compliance-default-button,
#sliding-popup .eu-cookie-compliance-hide-button,
#sliding-popup .eu-cookie-compliance-more-button-thank-you,
#sliding-popup .eu-cookie-withdraw-button {
    cursor: pointer;
    margin-right: 5px;
    margin-top: 1em;
    vertical-align: middle;
    overflow: visible;
    width: auto;
    -moz-box-shadow: inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow: inset 0 1px 0 0 #ffffff;
    box-shadow: inset 0 1px 0 0 #ffffff;
    background-color: #ededed;
    background-image: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf));
    background-image: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background-image: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background-image: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background-image: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    color: #000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
}

#sliding-popup .eu-cookie-compliance-default-button:hover,
#sliding-popup .eu-cookie-compliance-hide-button:hover,
#sliding-popup .eu-cookie-compliance-more-button-thank-you:hover,
#sliding-popup .eu-cookie-withdraw-button:hover {
    background-color: #dfdfdf;
    background-image: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed));
    background-image: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background-image: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background-image: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background-image: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

#sliding-popup .eu-cookie-compliance-default-button:active,
#sliding-popup .eu-cookie-compliance-hide-button:active,
#sliding-popup .eu-cookie-compliance-more-button-thank-you:active,
#sliding-popup .eu-cookie-withdraw-button:active {
    position: relative;
    top: 1px;
}

#sliding-popup .popup-content #popup-text {
    color: #fff;
    float: left;
    font-weight: bold;
    margin: 5px 0 0;
    max-width: 60%;
}

#sliding-popup .popup-content #popup-text h1,
#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text h3,
#sliding-popup .popup-content #popup-text p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 0 5px 0;
}

#sliding-popup .popup-content #popup-text h1 {
    font-size: 24px;
}

#sliding-popup .popup-content #popup-text h3 {
    font-size: 12px;
}

#sliding-popup .popup-content #popup-text p {
    font-size: 12px;
    display: inline;
}

.eu-cookie-withdraw-tab {
    padding: 4px 7px;
    cursor: pointer;
}

.sliding-popup-bottom .eu-cookie-withdraw-tab {
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
}

.sliding-popup-top .eu-cookie-withdraw-tab {
    border-width: 0 2px 2px;
    border-radius: 0 0 5px 5px;
}

.eu-cookie-withdraw-wrapper.sliding-popup-top,
.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-banner {
    transform: scaleY(-1);
}

.eu-cookie-withdraw-tab {
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
    left: 50%;
}

.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-tab {
    transform: translate(-50%, -100%) scaleY(-1);
}

.eu-cookie-compliance-default-button {
    display: none;
}

@media screen and (max-width:600px) {
    #sliding-popup .popup-content {
        max-width: 95%;
    }
    #sliding-popup .popup-content #popup-text {
        max-width: 100%;
    }
    #sliding-popup .popup-content #popup-buttons {
        clear: both;
        float: none;
        margin: 5px 0 1em;
        max-width: 100%;
    }
}

.responsive-menus.responsified {
    clear: both;
    width: 100%;
}

.responsive-menus.responsified span.toggler {
    padding: 1px;
    display: block;
    background: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    font-size: 1.35em;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #bbb;
}

.responsive-menus.responsified .responsive-menus-simple {
    display: none;
    width: 100%;
    background: #333;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px #000;
}

.responsive-menus.responsified.responsive-toggled .responsive-menus-simple,
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple ul {
    display: block;
    padding: 0;
    margin: 0;
}

.responsive-menus.responsified.responsive-toggled.absolute {
    position: relative;
    z-index: 999;
}

.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    position: absolute;
    z-index: 999;
    top: auto;
}

.responsive-menus.responsified .responsive-menus-simple li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    clear: both;
    list-style: none;
}

.responsive-menus.responsified .responsive-menus-simple li a {
    color: #fff;
    display: block;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #bbb;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
}

.responsive-menus.responsified .responsive-menus-simple>li.last a {
    border-bottom: none;
}

.responsive-menus.responsified .responsive-menus-simple li ul li a {
    padding: 1em 0 1em 10%;
}

.responsive-menus.responsified .responsive-menus-simple li ul li ul li a {
    padding: 1em 0 1em 15%;
}

.responsive-menus.responsified .responsive-menus-simple li ul {
    display: block !important;
    visibility: visible !important;
    margin: 0;
    padding: 0;
}

.responsive-menus span.toggler {
    display: none;
}

.sf-menu,
.sf-menu * {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sf-menu {
    line-height: 1.0;
    z-index: 497;
}

.sf-menu ul {
    left: 0;
    position: absolute;
    top: -99999em;
    width: 12em;
}

.sf-menu ul li {
    width: 100%;
}

.sf-menu li {
    float: left;
    position: relative;
    z-index: 498;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    z-index: 499;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    left: 0;
    top: 2.5em;
}

.sf-menu li li:hover > ul,
.sf-menu li li.sfHover > ul {
    left: 12em;
    top: 0;
}

.sf-hidden {
    left: 0 !important;
    top: -99999em !important;
}

.sf-menu a.sf-with-ul {
    min-width: 1px;
}

.sf-sub-indicator {
    background: url(arrows-ffffff.png) no-repeat -10px -100px;
    display: block;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 0.75em;
    text-indent: -999em;
    top: 1.05em;
    width: 10px;
}

a > .sf-sub-indicator {
    top: 0.8em;
    background-position: 0 -100px;
}

a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px;
}

.sf-menu ul .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-menu ul a > .sf-sub-indicator {
    background-position: 0 0;
}

.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
    background: url(shadow.png) no-repeat right bottom;
    padding: 0 8px 9px 0 !important;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sf-shadow ul.sf-shadow-off {
    background: transparent;
}

.sf-menu.rtl,
.sf-menu.rtl li {
    float: right;
}

.sf-menu.rtl li:hover > ul,
.sf-menu.rtl li.sfHover > ul {
    left: auto;
    right: 0;
}

.sf-menu.rtl li li:hover > ul,
.sf-menu.rtl li li.sfHover > ul {
    left: auto;
    right: 12em;
}

.sf-menu.rtl ul {
    left: auto;
    right: 0;
}

.sf-menu.rtl .sf-sub-indicator {
    left: 0.75em;
    right: auto;
    background: url(arrows-ffffff-rtl.png) no-repeat -10px -100px;
}

.sf-menu.rtl a > .sf-sub-indicator {
    top: 0.8em;
    background-position: -10px -100px;
}

.sf-menu.rtl a:focus > .sf-sub-indicator,
.sf-menu.rtl a:hover > .sf-sub-indicator,
.sf-menu.rtl a:active > .sf-sub-indicator,
.sf-menu.rtl li:hover > a > .sf-sub-indicator,
.sf-menu.rtl li.sfHover > a > .sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-menu.rtl ul .sf-sub-indicator {
    background-position: 0 0;
}

.sf-menu.rtl ul a > .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-menu.rtl ul a:focus > .sf-sub-indicator,
.sf-menu.rtl ul a:hover > .sf-sub-indicator,
.sf-menu.rtl ul a:active > .sf-sub-indicator,
.sf-menu.rtl ul li:hover > a > .sf-sub-indicator,
.sf-menu.rtl ul li.sfHover > a > .sf-sub-indicator {
    background-position: 0 0;
}

.sf-menu.rtl.sf-horizontal.sf-shadow ul,
.sf-menu.rtl.sf-vertical.sf-shadow ul,
.sf-menu.rtl.sf-navbar.sf-shadow ul ul {
    background-position: bottom left;
    padding: 0 0 9px 8px !important;
    -webkit-border-radius: 8px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 8px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.sf-vertical.rtl li:hover > ul,
.sf-vertical.rtl li.sfHover > ul {
    left: auto;
    right: 12em;
}

.sf-vertical.rtl .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-vertical.rtl a > .sf-sub-indicator {
    background-position: 0 0;
}

.sf-vertical.rtl a:focus > .sf-sub-indicator,
.sf-vertical.rtl a:hover > .sf-sub-indicator,
.sf-vertical.rtl a:active > .sf-sub-indicator,
.sf-vertical.rtl li:hover > a > .sf-sub-indicator,
.sf-vertical.rtl li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-navbar.rtl li li {
    float: right;
}

.sf-navbar.rtl ul .sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-navbar.rtl ul a > .sf-sub-indicator {
    background-position: -10px -100px;
}

.sf-navbar.rtl ul a:focus > .sf-sub-indicator,
.sf-navbar.rtl ul a:hover > .sf-sub-indicator,
.sf-navbar.rtl ul a:active > .sf-sub-indicator,
.sf-navbar.rtl ul li:hover > a > .sf-sub-indicator,
.sf-navbar.rtl ul li.sfHover > a > .sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-navbar.rtl ul ul .sf-sub-indicator {
    background-position: 0 0;
}

.sf-navbar.rtl ul ul a > .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-navbar.rtl ul ul a:focus > .sf-sub-indicator,
.sf-navbar.rtl ul ul a:hover > .sf-sub-indicator,
.sf-navbar.rtl ul ul a:active > .sf-sub-indicator,
.sf-navbar.rtl ul ul li:hover > a > .sf-sub-indicator,
.sf-navbar.rtl ul ul li.sfHover > a > .sf-sub-indicator {
    background-position: 0 0;
}

.sf-navbar.rtl li li:hover > ul,
.sf-navbar.rtl li li.sfHover > ul {
    left: auto;
    right: 0;
}

.sf-navbar.rtl li li li:hover > ul,
.sf-navbar.rtl li li li.sfHover > ul {
    left: auto;
    right: 12em;
}

.sf-navbar.rtl > li > ul {
    background: transparent;
    padding: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

.sf-navbar {
    position: relative;
}

.sf-navbar li {
    position: static;
}

.sf-navbar li li {
    position: relative;
}

.sf-navbar li ul,
.sf-navbar li li li {
    width: 100%;
}

.sf-navbar li li {
    width: auto;
    float: left;
}

.sf-navbar li li:hover > ul,
.sf-navbar li li.sfHover > ul,
.sf-navbar > li.active-trail > ul {
    left: 0;
    top: 2.5em;
}

.sf-navbar li li li:hover > ul,
.sf-navbar li li li.sfHover > ul {
    left: 12em;
    top: 0;
}

.sf-navbar ul .sf-sub-indicator {
    background-position: -10px -100px;
}

.sf-navbar ul a > .sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px;
}

.sf-navbar ul ul .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-navbar ul ul a > .sf-sub-indicator {
    background-position: 0 0;
}

.sf-navbar ul ul a:focus > .sf-sub-indicator,
.sf-navbar ul ul a:hover > .sf-sub-indicator,
.sf-navbar ul ul a:active > .sf-sub-indicator,
.sf-navbar ul ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-navbar > li > ul {
    background: transparent;
    padding: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

.sf-menu.sf-style-pomegranate {
    float: left;
    margin-bottom: 1em;
    padding: 0;
}

.sf-menu.sf-style-pomegranate.sf-navbar {
    width: 100%;
}

.sf-menu.sf-style-pomegranate ul {
    padding-left: 0;
}

.sf-menu.sf-style-pomegranate a {
    text-decoration: none;
    color: #ffebee;
    padding: 0.75em 1em;
}

.sf-menu.sf-style-pomegranate a.sf-with-ul {
    padding-right: 2.25em;
}

.sf-menu.sf-style-pomegranate.rtl a.sf-with-ul {
    padding-left: 2.25em;
    padding-right: 1em;
}

.sf-menu.sf-style-pomegranate.sf-navbar a {
    text-decoration: none;
    border: 0;
}

.sf-menu.sf-style-pomegranate span.sf-description {
    color: #ffebee;
    display: block;
    font-size: 2em;
    line-height: 1.5em;
    margin: 5px 0 0 5px;
    padding: 0;
}

.sf-menu.sf-style-pomegranate li,
.sf-menu.sf-style-pomegranate.sf-navbar {
    background: #79001c;
}

.sf-menu.sf-style-pomegranate li li {
    background: #6c0019;
}

.sf-menu.sf-style-pomegranate li li li {
    background: #5f0016;
}

.sf-menu.sf-style-pomegranate li:hover,
.sf-menu.sf-style-pomegranate li.sfHover,
.sf-menu.sf-style-pomegranate li.active a,
.sf-menu.sf-style-pomegranate a:focus,
.sf-menu.sf-style-pomegranate a:hover,
.sf-menu.sf-style-pomegranate a:active,
.sf-menu.sf-style-pomegranate.sf-navbar li li {
    text-decoration: none;
    background: #4c0012;
    color: #ffffff;
}

.sf-menu.sf-style-pomegranate.sf-navbar li ul {
    background-color: #4c0012;
}

.sf-menu.sf-style-pomegranate.sf-navbar li ul li ul {
    background-color: transparent;
}

.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol li {
    margin: 0;
    padding: 0;
}

.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
    font-weight: bold;
}

.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    display: inline;
    float: left;
    width: 12em;
}

.sf-menu.sf-style-pomegranate.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    float: right;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-1 ul.sf-megamenu {
    width: 12em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-2 ul.sf-megamenu {
    width: 24em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-3 ul.sf-megamenu {
    width: 36em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-4 ul.sf-megamenu {
    width: 48em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-5 ul.sf-megamenu {
    width: 60em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-6 ul.sf-megamenu {
    width: 72em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-7 ul.sf-megamenu {
    width: 84em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-8 ul.sf-megamenu {
    width: 96em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-9 ul.sf-megamenu {
    width: 108em;
}

.sf-menu.sf-style-pomegranate li.sf-parent-children-10 ul.sf-megamenu {
    width: 120em;
}

.sf-menu.sf-style-blue {
    float: left;
    margin-bottom: 1em;
    padding: 0;
}

.sf-menu.sf-style-blue.sf-navbar {
    width: 100%;
}

.sf-menu.sf-style-blue ul {
    padding-left: 0;
}

.sf-menu.sf-style-blue a {
    border: 1px outset #003973;
    color: #ffffff;
    padding: 0.75em 1em;
}

.sf-menu.sf-style-blue a.sf-with-ul {
    padding-right: 2.25em;
}

.sf-menu.sf-style-blue.rtl a.sf-with-ul {
    padding-left: 2.25em;
    padding-right: 1em;
}

.sf-menu.sf-style-blue.sf-navbar a {
    border: 0;
}

.sf-menu.sf-style-blue span.sf-description {
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 5px 0 0 5px;
    padding: 0;
}

.sf-menu.sf-style-blue li,
.sf-menu.sf-style-blue.sf-navbar {
    background: #095cb1;
}

.sf-menu.sf-style-blue li li {
    background: #0151a4;
}

.sf-menu.sf-style-blue li li li {
    background: #00478f;
}

.sf-menu.sf-style-blue li:hover,
.sf-menu.sf-style-blue li.sfHover,
.sf-menu.sf-style-blue li.active a,
.sf-menu.sf-style-blue a:focus,
.sf-menu.sf-style-blue a:hover,
.sf-menu.sf-style-blue a:active,
.sf-menu.sf-style-blue.sf-navbar li li {
    background: #3270c5;
    color: #ffea00;
}

.sf-menu.sf-style-blue.sf-navbar li ul {
    background-color: #3270c5;
}

.sf-menu.sf-style-blue.sf-navbar li ul li ul {
    background-color: transparent;
}

.sf-menu.sf-style-blue ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-blue ul.sf-megamenu li.sf-megamenu-wrapper ol li {
    margin: 0;
    padding: 0;
}

.sf-menu.sf-style-blue ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
    font-weight: bold;
}

.sf-menu.sf-style-blue ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    display: inline;
    float: left;
    width: 12em;
}

.sf-menu.sf-style-blue.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    float: right;
}

.sf-menu.sf-style-blue li.sf-parent-children-1 ul.sf-megamenu {
    width: 12em;
}

.sf-menu.sf-style-blue li.sf-parent-children-2 ul.sf-megamenu {
    width: 24em;
}

.sf-menu.sf-style-blue li.sf-parent-children-3 ul.sf-megamenu {
    width: 36em;
}

.sf-menu.sf-style-blue li.sf-parent-children-4 ul.sf-megamenu {
    width: 48em;
}

.sf-menu.sf-style-blue li.sf-parent-children-5 ul.sf-megamenu {
    width: 60em;
}

.sf-menu.sf-style-blue li.sf-parent-children-6 ul.sf-megamenu {
    width: 72em;
}

.sf-menu.sf-style-blue li.sf-parent-children-7 ul.sf-megamenu {
    width: 84em;
}

.sf-menu.sf-style-blue li.sf-parent-children-8 ul.sf-megamenu {
    width: 96em;
}

.sf-menu.sf-style-blue li.sf-parent-children-9 ul.sf-megamenu {
    width: 108em;
}

.sf-menu.sf-style-blue li.sf-parent-children-10 ul.sf-megamenu {
    width: 120em;
}